<section class="header">
    Terms & Conditions
</section>
<section class="content">
    <p>
        This document sets out the Terms and Conditions ("Terms") on which SwipeIn Software Limited (Company No. 08125469) of 21a Kingly Street, 2nd Floor, London, W1B 5QA ("SwipeIn") provides customers with access to certain recruitment management services through
        the www.SwipeIn.com website ("Website").
    </p>
    <p>
        Please read these terms very carefully before using the website and the SwipeIn services. You acknowledge and agree that by clicking on "I accept" on behalf of a nominated company or organisation (in these terms, the "Customer"), you agree that company
        or organisation will be bound by these terms as a customer. You warrant and represent that you have full capacity and authority to enter into this agreement on behalf of the customer company or organisation.
    </p>
    <p>
        If you do not accept these terms, you will not be able to use the website and the services. You are advised to print and retain a copy of these terms for future reference.
    </p>
    <ol>
        <li class="level1"><span class="bold">The website & the services</span>
            <ol>
                <li class="level2">The Website is owned and managed by SwipeIn Software Limited (Company No. 08125469) of 235 Old Marylebone Road, London, United Kingdom, NW1 5QT.</li>
                <li class="level2">In consideration for the payment of the Fees, SwipeIn shall provide the Customer with the services as described on the Website, which allow the Customer to browse, screen, track and collaboratively manage its hiring process (<span class="bold">"Services"</span>).
                    The Services typically include the following key features:
                    <ol>
                        <li class="level3">the facility to add accounts for "<span class="bold">Collaborators</span> (meaning the Customer’s employees and nominated representatives on their hiring team) by nominating such individuals to create individual user accounts which
                            permit them to access the Services on behalf of the Customer;</li>
                        <li class="level3">the facility to create "<span class="bold">Openings</span>", meaning descriptions of an employment or contractor role or position that the Customer is seeking to fill (note the ability of the Customer to do this may be limited
                            to a set number of Openings in accordance with the corresponding Fees subscription selected by the Customer, as described on the Website);</li>
                        <li class="level3">the facility to upload "<span class="bold">Customer Information</span>", meaning information about the Customer organisation or any Opening;</li>
                        <li class="level3">the ability to publish and export Openings to various job boards and social media services where they can be displayed to potential "<span class="bold">Candidates</span>", meaning persons seeking employment on a contract or permanent
                            basis who register with SwipeIn;</li>
                        <li class="level3">access to view the "<span class="bold">Profile</span>" of a Candidate who applies for an Opening with the Customer, which means the information submitted by a Candidate through the Services which may include a summary of the Candidate’s
                            academic background, work experience, technical or product skills and employment history;</li>
                        <li class="level3">a comparison tool to compare Candidates for a specific Opening, and the facilitation and management of communications between the Customer and its Collaborators, and any Candidate, with respect to an Opening; and</li>
                        <li class="level3">any other features and functionalities provided by SwipeIn to the Customer from time to time.</li>
                    </ol>
                </li>
                <li class="level2">For the avoidance of doubt, SwipeIn’s obligations shall be limited only to the provision of the Services and do not in any way include acting on the Customer’s behalf. Nothing in these Terms is intended to, or shall be deemed to, establish
                    any partnership or joint venture between the Customer and SwipeIn, appoint either party as the agent of the other, nor authorise either party to make or enter into any commitments for or on behalf of the other party.</li>
                <li class="level2">SwipeIn may from time to time add, modify, suspend or cease (temporarily or permanently) the provision of any element of the Services upon notice to the Customer.</li>
                <li class="level2">SwipeIn shall have no obligation to notify the Customer in the event of an unplanned service downtime. In the event of a planned service downtime in respect of the Services or the Website, SwipeIn shall use its reasonable endeavours to
                    notify the Customer in advance provided that SwipeIn is able to do so.</li>
                <li class="level2">Access to the Website and the Services may be granted to the Customer on a trial or ‘free’ basis ("<span class="bold">Trial</span>") for a period of 15 days. The Customer acknowledges and agrees that during the Trial, these Terms shall
                    apply, as well as the following specific terms:
                    <ol>
                        <li class="level3">access to the Services during the Trial will be provided at no cost to the Customer;</li>
                        <li class="level3">such access is solely for the purpose of offering the Customer a preview demonstration of the functionality and features of the Services;</li>
                        <li class="level3">the functionality of the Services during a trial may be limited or restricted; and</li>
                        <li class="level3">SwipeIn may withdraw or suspend the Customer’s access to the Services at any time during the Trial, and at the completion of the Trial continued access to the Website and/or Services will be subject to payment of Fees or charges.</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li class="level1"><span class="bold">Registration & collaborators</span>
            <ol>
                <li class="level2">In order to use the Services, the Customer shall first be required to register with SwipeIn by completing the online registration form on the Website.</li>
                <li class="level2">SwipeIn shall send the Customer a confirmation email ("<span class="bold">Confirmation Email</span>") once it has accepted and confirmed the Customer’s registration. The Customer’s contract to use the Services on these Terms ("<span class="bold">Contract</span>")
                    commences on the date of the Confirmation Email.</li>
                <li class="level2">SwipeIn reserves the right to conduct verification and security procedures in respect of all information provided by the Customer to SwipeIn. If SwipeIn has reason to believe that the information provided by the Customer to register and
                    use any of the Services breaches or is likely to breach any of the provision in these Terms, SwipeIn at its sole discretion may take any action that it deems appropriate including without limitation, to terminate the Customer’s Contract.
                </li>
                <li class="level2">These Terms shall apply to any and all Collaborators who access and use the Website and the Customer Services through the Customer’s account. The Customer acknowledges and agrees:
                    <ol>
                        <li class="level3">all Collaborators must use the corporate email address allocated to them by the Customer when creating a Collaborator profile;</li>
                        <li class="level3">SwipeIn may allocate the Customer "Admin" or "Member" accounts with varying levels of access, and the Customer shall comply (and ensure each Collaborator complies) with any directions of SwipeIn relating to the establishment and
                            use of such Collaborator accounts;</li>
                        <li class="level3">only one person may log-on to the Website and/or access the Services using any one Collaborator account at any one time; and</li>
                        <li class="level3">the Customer is directly liable to SwipeIn at all times for the acts or omissions of its Collaborators.</li>
                    </ol>
                </li>
                <li class="level2">The Customer shall, and shall ensure its Collaborators, keep any Customer and Collaborator usernames and passwords ("<span class="bold">Logins</span>") safe and secure to ensure that they are not used without the Customer’s permission.
                    The Customer must immediately notify SwipeIn if it has reason to believe that there has been unauthorised use or access to the Customer’s Logins and/or the Customer’s profile on the Website. The Customer shall be solely responsible
                    and liable for any breaches of these Terms arising out of or resulting from use of the Customer’s Logins to access the Services and/or the Website, whether such use is authorised by the Customer or not.</li>
                <li class="level2">At any time upon notice to the Customer, SwipeIn may require the Customer to execute any further documents to confirm the Customer’s acceptance of, or give full effect to, these Terms.</li>
            </ol>
        </li>
        <li class="level1"><span class="bold">Customer obligations</span>
            <ol>
                <li class="level2">The Customer shall at all times use the Services and the Website in accordance with these Terms.</li>
                <li class="level2">The Customer shall ensure that its use of the Services and/or the Website, including the submission of any information, data, images, videos, audio, files, links to external websites, communication between Collaborators and with Candidates,
                    and all other material of any format ("<span class="bold">Submissions</span>"):
                    <ol>
                        <li class="level3">comply with all applicable laws and legislations, including, but not limited to, the US Fair Credit Reporting Act 1971 (15 U.S.C. § 1681 et seq);</li>
                        <li class="level3">do not infringe any intellectual property rights or other proprietary rights of any third party;</li>
                        <li class="level3">do not infringe any intellectual property rights or other proprietary rights of any third party;</li>
                        <li class="level3">not reasonably be deemed to:
                            <ul>
                                <li class="level4">be offensive, illegal, inappropriate or in any way:
                                    <ul>
                                        <li class="level5">promote racism, bigotry, hatred or physical harm of any kind against any group or individual;</li>
                                        <li class="level5">harass or advocate harassment of another person;</li>
                                        <li class="level5">display pornographic or sexually explicit material;</li>
                                        <li class="level5">promote any conduct that is abusive, threatening, obscene, defamatory or libellous;</li>
                                        <li class="level5">promote any illegal activities;</li>
                                        <li class="level5">provide instructional information about illegal activities, including violating someone else’s privacy;</li>
                                        <li class="level5">create computer viruses or implement any form of software or scripts onto the Website that have the appearance of coming from a user or candidate (for the avoidance of doubt, this shall not apply to API use);</li>
                                        <li class="level5">promote or contain information that you know or believe to be inaccurate, false or misleading;</li>
                                        <li class="level5">engage in the promotion of contests, sweepstakes and pyramid schemes, without our prior written consent;</li>
                                        <li class="level5">exploit people in a sexual or violent manner;</li>
                                        <li class="level5">invade or violate any third party’s right to privacy</li>
                                    </ul>
                                </li>
                                <li class="level4">register the same Customer more than once for the purpose of circumventing Customer limitations which have been created by the Website such as the number of Openings the Customer is permitted to create;</li>
                                <li class="level4">publish Openings that do not correspond to actual unfulfilled full time/part-time/hourly employment/contract positions;</li>
                                <li class="level4">publish Openings for multi-level marketing positions, pyramid schemes or self-employed opportunities;</li>
                                <li class="level4">publish Openings with the aim of harvesting Candidates for any reason other than legitimate employment;</li>
                                <li class="level4">publish Openings that direct Candidates to apply through means that are not supported by SwipeIn and the Website;</li>
                                <li class="level4">publish Openings on behalf of a company without their knowledge and consent;</li>
                                <li class="level4">request payments from Candidates; and</li>
                                <li class="level4">transmit "junk mail", or "chain letters", or unsolicited mass mailing, messaging or "spamming";</li>
                                <p>and the Customer hereby indemnifies SwipeIn for all losses, liabilities, costs and expenses (including but not limited to legal costs) suffered or incurred by SwipeIn which arise directly or indirectly from a breach by
                                    the Customer of this clause 3.2.</p>
                            </ul>
                        </li>
                    </ol>
                </li>
                <li class="level2">Unless otherwise explicitly stated by SwipeIn, SwipeIn does not vet, verify the accuracy, correctness and completeness, edit or modify any Submissions or any other information, data and materials created, used and/or published by the Customer
                    on the Website to determine whether they may result in any liability to any third party. The Customer hereby warrants that the Customer has the right to use all such information and material.</li>
                <li class="level2">Subject to clause 3.3, SwipeIn may enhance the Profile by using data related to the Candidate, obtained from third parties. Such additional information may include links to any social media websites used by SwipeIn in enhancing the Profile.
                    In such circumstances, SwipeIn does not vet, verify the accuracy, correctness and completeness of such data used to enhance the Profile and no guarantee is given that any enhancements to the Profile will be error free or ultimately
                    achieve any enhancement to the Profile and it is the responsibility of the Customer to verify the accuracy of such information before making any hiring decisions.</li>
                <li class="level2">Notwithstanding clause 3.3, SwipeIn reserves the right to refuse to publish any Submissions, or to at any time remove or edit a Submission (in whole or in part), if SwipeIn has reason to believe that the Customer’s use of the Services
                    and/or the Website breaches these Terms.</li>
                <li class="level2">The Customer shall not:
                    <ol>
                        <li class="level3">at any time use the Services and/or the Website with the purpose of impersonating another User or person; and</li>
                        <li class="level3">use the information made available to the Customer through its use of the Services and/or the Website for any purpose other than in connection with the recruitment of staff;</li>
                        <li class="level3">use the Refer Candidates function and the Chrome add-on, in respect of any person who has not been identified by the Customer through other means; and</li>
                        <li class="level3">do anything whatsoever which shall or is likely to impair, interfere with, damage, or cause harm or distress to any person or all or any part of any computer, computer network, telecommunications service or infrastructure.</li>
                    </ol>
                </li>
                <li class="level2">SwipeIn takes breaches of the Terms, and in particular, this clause 3, very seriously and therefore reserves the right to take any action that SwipeIn deems necessary. This can include, without limitation, suspension or termination of
                    the Customer’s use of the Services and/or access to the Website. In certain circumstances SwipeIn may choose to instigate legal proceedings as appropriate if there is any illegal use of the Services and/or the Website, or disclose
                    information to any third party who is claiming that any material posted or uploaded onto the Website constitutes a violation of their intellectual property rights or of their right to privacy or if the material is posted without that
                    third party’s prior consent. The Customer shall promptly notify SwipeIn if it is aware of any or any suspected breaches of this clause 3 by its Collaborators.</li>
            </ol>
        </li>
        <li class="level1"><span class="bold">Customer interaction with candidates</span>
            <ol>
                <li class="level2">The Customer shall ensure that any Opening it publishes through the Website contains the sufficient information to allow a Candidate to make an informed decision as to applying for the role in question.</li>
                <li class="level2">The Customer warrants and represents that the information provided pursuant to clause 4.1 and in respect of the Customer Information shall be correct, complete, accurate and up to date. In the event the information in the Opening or the
                    Customer Information is incorrect, incomplete, inaccurate or out of date, then the Customer must immediately take all necessary steps to rectify such information.</li>
                <li class="level2">The Customer shall at all times use the Services and the Website in accordance with the applicable law and legislation and in particular, all applicable data protection, employment and anti-discrimination legislation.</li>
                <li class="level2">The Customer is solely responsible for the use of the Services and its internal management of the recruitment process, for each Candidate search the Customer undertakes and any Opening advertised by the Customer through the Website. The
                    Customer is also responsible for confirming:
                    <ol>
                        <li class="level3">each Candidate’s qualifications, skills, training and experience;</li>
                        <li class="level3">that the Candidate has the right to work in the relevant jurisdiction; and</li>
                        <li class="level3">procuring from the Candidate(s) all information reasonably required by the Customer to determine the Candidate’s suitability to the Opening.</li>
                    </ol>
                </li>
                <li class="level2">The Customer acknowledges that SwipeIn does not have any control of and therefore can not reasonably accept any liability in respect of the behaviour, response or actions of the Candidates. SwipeIn does not warrant, represent or guarantee
                    that the Customer will be able to fill the Opening using the Services.</li>
                <li class="level2">The Customer shall at all times keep all information including without limitation, the Candidates’ Profiles, communication and correspondences between the Customer, SwipeIn and the Candidates, and all information relating to the Candidates
                    and the recruitment process secure and confidential.</li>
                <li class="level2">The Services shall be personal to the Customer organisation and the Customer has no right whatsoever to resell the Services to any third party for any reason without the express written approval of SwipeIn.</li>
                <li class="level2">The Customer acknowledges and agrees that it is the Customer’s responsibility to ensure it enters into any necessary contractual arrangements with Candidates (whether for temporary, casual, contract or permanent employment). The terms
                    of employment and any contractual arrangements shall be negotiated and agreed between the Customer and the approved Candidate directly. In the event there is a dispute between the Customer and any Candidate (whether it relates to the
                    interview or selection process, the contractual arrangements between the parties or otherwise) – collectively, a "<span class="bold">Dispute</span>" - the Customer agrees SwipeIn is not liable for any loss or damage suffered by the
                    Customer resulting from any such Dispute and the Customer hereby releases and holds harmless SwipeIn from any such loss or damage or any liability in relation to any Dispute.</li>
                <li class="level2">The Customer hereby indemnifies SwipeIn against all losses, liabilities, costs and expenses (including but not limited to legal costs) suffered or incurred by SwipeIn which arise directly or indirectly from any Dispute, or any breach by
                    the Customer of clause 4.3.</li>
            </ol>
        </li>
        <li class="level1"><span class="bold">Fees</span>
            <ol>
                <li class="level2">The fees to access the Website and Services are as set out on the Website ("<span class="bold">Fees</span>"). The Fees may be based on the number of Openings the Customer is permitted to create in its use of the Services. Other than where
                    the Customer is participating in a Trial in accordance with clause 1.6, the Customer may only access the Website and the Services by paying the Fees.</li>
                <li class="level2">Unless stated otherwise on the Website or agreed by SwipeIn in writing, the Fees shall be payable by the Customer monthly in advance, in the manner as set out on the Website.</li>
                <li class="level2">All Fees are exclusive of VAT and all other taxes or duties, and are non-refundable for any reason whatsoever.</li>
                <li class="level2">SwipeIn may offer Customers the option to purchase additional products and services that are supplied by third parties as set out on the Website. Use of such products by the Customer shall be governed by the relevant third party’s terms
                    and conditions, a copy of which shall be available from the Website. The Customers shall comply with such third party’s terms and conditions.</li>
            </ol>
        </li>
        <li class="level1"><span class="bold">Termination</span>
            <ol>
                <li class="level2">The Customer may terminate their Contract at any time by cancelling their subscription on the Website. Fees paid in advance by the Customer are non-refundable.
                </li>
                <li class="level2">SwipeIn shall be entitled to suspend and/or terminate the Customer’s access and use of the Website and/or the Services:
                    <ol>
                        <li class="level3">if SwipeIn’s network providers and suppliers cease providing SwipeIn with their services; or</li>
                        <li class="level3">if SwipeIn has reason to believe that the Customer has breached any of the provisions of these Terms.</li>
                    </ol>
                </li>
                <li class="level2">Upon termination of the Customer’s Contract in accordance with this clause 6, the Customer may no longer access or use the Services and the Website.</li>
            </ol>
        </li>
        <li class="level1"><span class="bold">Warranties</span>
            <ol>
                <li class="level2">The Customer hereby warrants that (a) the Customer has the right and capacity to enter into and be bound by these Terms; and (b) the Customer shall comply with all applicable laws regarding the Customer’s use of the Services and the Website;
                    and (c) and the Customer agrees to abide by the rules and reasonable directions of SwipeIn relating to the Website as may be provided by SwipeIn from time-to- time.</li>
                <li class="level2">SwipeIn relies on other service providers (such as network provider, data centres, telecommunication providers) to make the Services and the Website available to the Customer. Whilst SwipeIn takes all reasonable steps available to it to
                    provide the Customer with a good level of service, SwipeIn does not guarantee that such service shall be fault free or uninterrupted at all times. SwipeIn therefore shall not be liable in any way for any losses the Customer may suffer
                    as a result of delays or failures of the Services and Website as a result of SwipeIn’s service providers.</li>
                <li class="level2">Except as expressly set out herein, to the maximum extent permitted by law, SwipeIn expressly excludes all representations, warranties, obligations and liabilities in connection with the Services and the Website, including but not limited
                    to the warranties of merchantability, non-infringement of intellectual property, accuracy, completeness, fitness for a particular purpose, and any warranties arising by statute or otherwise in law or from course of dealing, course
                    of performance, or use of trade are hereby excluded and disclaimed.</li>
                <li class="level2">SwipeIn may display or provide links or other interaction with third party websites and third party advertising banners on the Website ("Third Party Websites"). In particular, the Services may also provide the Customer with the opportunity
                    to connect and publish Openings and other Customer Information through Third Party Websites and other third party services such as social and business networking sites. Use of any such Third Party Websites and services shall be at
                    the risk of the Customer and subject to the terms and conditions of the Third Party Website provider.</li>
            </ol>
        </li>
        <li class="level1"><span class="bold">Limitation of liability</span>
            <ol>
                <li class="level2">Subject to clauses 8.2 and 8.3, the maximum aggregate liability of SwipeIn (including its respective agents, sub-contractors or representatives) under, arising from or in connection with the provision of the Services and/or these Terms,
                    whether arising in contract, tort (including negligence) or otherwise, shall not exceed a sum equivalent to the total Fees received by SwipeIn for a period of twelve (12) months preceding the event giving rise to liability.
                </li>
                <li class="level2">To the extent permitted by law, SwipeIn expressly excludes:
                    <ol>
                        <li class="level3">all conditions, warranties and other terms whether expressed or which might otherwise be implied by statute or common law;</li>
                        <li class="level3">any liability for indirect or consequential loss which are losses incurred as a side effect of the main loss or damage;</li>
                        <li class="level3">loss of profit;</li>
                        <li class="level3">loss of income or revenue;</li>
                        <li class="level3">loss of business or contracts;</li>
                        <li class="level3">loss of data;</li>
                        <li class="level3">loss of goodwill and reputation;</li>
                        <li class="level3">loss of expectation;</li>
                        <li class="level3">loss of opportunity; or</li>
                        <li class="level3">loss arising out of or in connection with wasted management or office time;</li>
                        <li class="level3">arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable, provided that this condition shall not prevent claims for loss of or damage to the Customer’s tangible property or
                            any other claims for direct financial loss that are not excluded by any of the categories set out above.</li>
                    </ol>
                </li>
                <li class="level2">Nothing in these Terms shall serve to limit or exclude SwipeIn’s liability for death or personal injury resulting from SwipeIn’s negligence or any liability for fraudulent misrepresentation.</li>
            </ol>
        </li>
        <li class="level1"><span class="bold">Intellectual property rights</span>
            <ol>
                <li class="level2">SwipeIn and its licensors own all rights in the intellectual property rights relating to the Services and the Website, including but not limited to all software forming part of the Website ("<span class="bold">Software</span>"). Those
                    works are protected by copyright laws and treaties around the world. Nothing in this Agreement will serve to transfer from SwipeIn to the Customer any of the Software or Website, and all right, title and interest in and to the Software
                    and the Website will remain exclusively with SwipeIn and/or SwipeIn’s licensors. All rights in and to the Software and the Website not expressly granted to the Customer are reserved by SwipeIn and the relevant third party licensors.</li>
                <li class="level2">The Customer may print off one copy and may download extracts of any pages from the Website solely for use by the Customer; and the Customer may draw the attention of other Users to Submissions or materials posted on the Website. The Customer
                    must not use any part of the submissions of other users and all materials on the Website for any purpose other than accessing the Website or obtaining a benefit from the Services in accordance with these Terms.</li>
                <li class="level2">The Customer shall not, and shall procure that Collaborators shall not: (i) modify, translate, create or attempt to create derivative copies of or copy the Software or the Website in whole or in part; (ii) reverse engineer, decompile,
                    disassemble or otherwise reduce the object code of the Software or the Website to source code form; (iii) distribute, sub-license, assign, share, timeshare, sell, rent, lease, transmit, grant a security interest in or otherwise transfer
                    the Software or the Website or the Customer’s right to use the Software or the Website.</li>
                <li class="level2">The Customer warrants that the Customer owns or has the right or license to use the intellectual property rights in the Customer Information, the Openings and all information and materials provided by the Customer to SwipeIn.</li>
                <li class="level2">The Customer hereby grants SwipeIn, a perpetual, sub-licensable, worldwide, royalty- free license to publish and make available on the Website the Customer Information, Openings and all other information and material provided by the Customer
                    to SwipeIn in respect of the Services, for the purpose of providing the Services to the Customer.</li>
                <li class="level2">The Customer hereby indemnifies SwipeIn against all losses, liabilities, costs and expenses (including but not limited to legal costs) arising from or incurred by reason of any infringement of any intellectual property right by the use
                    or possession of the Customer Information, Openings, and all other information and material provided by the Customer to SwipeIn.</li>
            </ol>
        </li>
        <li class="level1"><span class="bold">Data protection & privacy policy</span>
            <ol>
                <li class="level2">The Customer and SwipeIn shall comply with all applicable data protection and privacy laws and regulations in the performance of its obligations set out under these Terms, principally the General Data Protection Regulation (“GDPR”, from
                    the GDPR implementation date) or, until GDPR implementation date, the Data Protection Act 1998 (“Data Protection Laws”). In each case including all other successor legislation and regulation thereto.</li>
                <li class="level2">SwipeIn processes personal data (as such term is defined in the Data Protection Act 1998) which it collects in the course of providing the services in accordance with its standard Privacy Policy which is accessible on the Website.</li>
                <li class="level2">For personal data which is processed by SwipeIn on the Customer’s behalf as part of the Services, SwipeIn will act strictly in accordance with the Customer’s instructions by following such processing and security obligations as are contained
                    in these Terms. The Customer confirms that it is solely responsible for ensuring that any such processing and security obligations comply with all applicable data protection law and legislation. The Customer hereby indemnifies SwipeIn
                    against all losses, liabilities, costs and expenses (including but not limited to legal costs) arising from or incurred by reason of the Customer’s failure to comply with this clause 10.</li>
            </ol>
        </li>
        <li class="level1"><span class="bold">General</span>
            <ol>
                <li class="leve2">If SwipeIn fails at any time to insist upon strict performance of its obligations under these Terms, or if it fails to exercise any of the rights or remedies to which it is entitled to under these Terms, this will not constitute a waiver
                    of any such rights or remedies and shall not relieve the Customer from compliance with such obligations. No waiver by SwipeIn of any of these Terms shall be effective unless it is expressly stated to be a waiver and is communicated
                    to the Customer in writing.</li>
                <li class="leve2">All notification and communication to SwipeIn should be sent to the contact details made available to the Customer on the Website.</li>
                <li class="leve2">If any of these Terms are determined by any competent authority to be invalid, unlawful or unenforceable to any extent, such term, condition or provision will to that extent, be severed from the remaining terms, conditions and provisions
                    which shall continue to be valid to the fullest extent permitted by law.</li>
                <li class="leve2">These Terms represent the entire agreement between the Customer and SwipeIn in respect of the Customer’s use of the Website and shall supersede any prior agreement, understanding or arrangement, whether oral or in writing.</li>
                <li class="leve2">The Customer acknowledges that in entering into these Terms, the Customer has not relied on any representations, undertaking or promise given by or implied from anything said or written whether on the Website, the Internet or in negotiation
                    between the parties except as expressly set out in these Terms.</li>
                <li class="leve2">SwipeIn reserves the right to modify these Terms at any time. Any changes SwipeIn may make to this document in the future will be notified and made available to the Customer using the Website.</li>
                <li class="leve2">These Terms shall be governed by and construed in accordance with English law and shall be subject to the exclusive jurisdiction of English courts.</li>
            </ol>
        </li>
    </ol>

</section>