<section class="post-job-inner-page" *ngIf="contractForm">
    <form *ngIf="getProfile()" [formGroup]="contractForm" (ngSubmit)="postJob()">
        <div *ngIf="!contractObj" class="top-create-job-btn">
            <button type="submit" class="create-button nowrap">
                <span *ngIf = "postingLoader">
                    <mat-spinner  [diameter] = '25' [strokeWidth] = '3' class = "spinner-post-job"></mat-spinner>
                </span>
                Create job
            </button>
            <p class="request-approval" (click)="openRequestApproval()">
                Request <br> Approval
            </p>
        </div>
        <div class="edit-buttons-container">
            <button class="create-button nowrap" *ngIf="(!editable && contractObj.get('status') != 3)" (click)="enableEdit(true)">Edit</button>
            <button class="create-button nowrap" *ngIf="(!editable && contractObj.get('status') == 3)" (click)="enableEdit(true)">Edit Draft</button>
            <button type="submit" class="create-button nowrap" *ngIf="editable && contractObj && contractObj.get('status') != 3" (click)="showEditAlert()">Save Changes</button>
            <button class="create-button nowrap" *ngIf="editable && contractObj && contractObj.get('status') == 3" (click)="postJob()">
                <!-- <span *ngIf="postingLoader === true"> -->
                
                Post Job
            </button>
        </div>
        <div class="black-line top-black-line"><a><i>JOB DETAILS</i></a></div>
        <section class="first-section">
            <section class="left-section">
                <table class="options-table">
                    <tr>
                        <td class="option-title" [ngClass]="{'red-color': alertHappend && contractForm.value.title === ''}">Job Title</td>
                        <td><input class="textfield job-title" id="jobTitle" formControlName="title" type="text" placeholder="Name for your job" /></td>
                    </tr>
                    <tr>
                        <td class="option-title job-description-title">
                            <a [ngClass]="{'red-color': alertHappend && contractForm.value.contractDescription === ''}">Job Description</a>
                        </td>
                        <td>
                            <div class="form-group-text">
                                <textarea class="textarea job-description" id="jobDescription" maxlength="{{jobDescriptionMaxLength}}" formControlName="contractDescription" #jobDescription placeholder="Description of your job">
                    </textarea>
                                <span class="textarea-length">{{jobDescriptionMaxLength - jobDescription.value.length}} characteres</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="skills-adding-title">
                            <div class="button-title nowrap skills-adding-title-container" [ngClass]="{'red-color': alertHappend && ((!selected || selected.length === 0 ) || (!selectedRoles || selectedRoles.length === 0 ))}">Skills Adding</div>
                        </td>
                        <td id="skillsinput">
                            <div class="container">
                                <mat-form-field>
                                    <input matInput placeholder="Skills" [(ngModel)]="query" [ngModelOptions]="{standalone: true}" (keydown)="prevDef($event, skillsdsuggestions)" (blur)="activeUnSet()" (keyup)="keyPressing($event)" [disabled]="!editable" autocomplete="off">
                                </mat-form-field>
                                <label *ngIf="editable" class="arrow-button-group" (click)="activeDropdown('skills', skillsdropdown, $event); dropdownVisible = !dropdownVisible; dropdownRolesVisible = false; dropdownIndustriesVisible = false;">
                                  <input class="arrow-checkbox" type="checkbox" [(ngModel)]="dropdownVisible" [ngModelOptions]="{standalone: true}" />
                                  <div class="arrow-button" >
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                  </div>
                                </label>

                                <!-- ROLES INPUT -->

                                <mat-form-field>
                                    <input matInput placeholder="Roles" [(ngModel)]="queryRoles" [ngModelOptions]="{standalone: true}" (keydown)="prevDefRnI($event, 'role', rolessuggestions)" (blur)="activeRolesUnSet()" (keyup)="keyRnIPressing($event, 'role')" [disabled]="!editable" autocomplete="off">
                                </mat-form-field>

                                <label *ngIf="editable" class="arrow-button-group" (click)="activeDropdown('roles',rolesdropdown, $event);  dropdownVisible  = false; dropdownRolesVisible = !dropdownRolesVisible; dropdownIndustriesVisible = false;">
                                  <input class="arrow-checkbox" type="checkbox" [(ngModel)]="dropdownRolesVisible" [ngModelOptions]="{standalone: true}"  />
                                  <div class="arrow-button">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                  </div>
                                </label>

                                <!-- INDUSTRIES INPUT -->

                                <mat-form-field>
                                    <input matInput placeholder="Industries" [(ngModel)]="queryIndustries" [ngModelOptions]="{standalone: true}" (keydown)="prevDefRnI($event, 'industry', industriessuggestions)" (blur)="activeIndustriesUnSet()" (keyup)="keyRnIPressing($event, 'industry')"
                                        [disabled]="!editable" autocomplete="off">
                                </mat-form-field>

                                <label *ngIf="editable" class="arrow-button-group" (click)="activeDropdown('industries', industriesdropdown, $event); dropdownIndustriesVisible = !dropdownIndustriesVisible; dropdownRolesVisible = false; dropdownVisible = false;">
                                  <input class="arrow-checkbox" type="checkbox" [(ngModel)]="dropdownIndustriesVisible" [ngModelOptions]="{standalone: true}" />
                                  <div class="arrow-button">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                  </div>
                                </label>

                                <!-- SKILLS SUGGESTIONS -->
                                <!--  -->
                                <div #skillsdsuggestions>
                                    <div class="suggestions" *ngIf="filteredList.length > 0 && active == true">
                                        <div class="suggestions-skills-wrap">
                                            <table cellpadding="0" cellspacing="0" border="0">
                                                <tr class="header">
                                                    <th class="skill-header">Skill</th>
                                                    <th class="experience-header">Experience Level (years)</th>
                                                    <th class="category-header">Skill Area</th>
                                                </tr>
                                            </table>
                                            <div class="inner-area" #scrollpanel>
                                                <table cellpadding="0" cellspacing="0" border="0">
                                                    <tr class="items-container" [ngClass]="{'container-selected': i == selectionCounter}" *ngFor="let item of filteredList; let i = index" (mouseenter)="selectionCounter = i" (click)="selectSkill(item, expPosition)">
                                                        <td class="name">
                                                            <a *ngIf="i != selectionCounter" class="item">{{item.get("title")}}</a>
                                                            <a *ngIf="i == selectionCounter" class="item-selected">{{item.get("title")}}</a>
                                                        </td>
                                                        <td class="experience" *ngIf="i == selectionCounter">
                                                            <span *ngIf="i == selectionCounter" class="exp" (mouseenter)="expPosition = 1" [ngClass]="{'selected-exp': expPosition == 1}">any</span>
                                                            <span *ngIf="i == selectionCounter" class="exp" (mouseenter)="expPosition = 2" [ngClass]="{'selected-exp': expPosition == 2}">+3</span>
                                                            <span *ngIf="i == selectionCounter" class="exp" (mouseenter)="expPosition = 3" [ngClass]="{'selected-exp': expPosition == 3}">+5</span>
                                                        </td>
                                                        <td class="experience" *ngIf="i != selectionCounter">
                                                            <span class="exp">any</span>
                                                            <span class="exp">+3</span>
                                                            <span class="exp">+5</span>
                                                        </td>
                                                        <td class="category">
                                                            <a *ngFor="let cat of categories">
                                                                <a *ngFor="let c of item.get('categories'); let first = first">
                                                                    <a *ngIf="first && c == cat.id">{{cat.get('title')}}</a>
                                                                </a>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- ROLES SUGGESTIONS -->
                                <div #rolessuggestions>
                                    <div class="suggestions suggestions-roles" *ngIf="filteredRnIList && filteredRnIList.length > 0 && activeForRoles == true">
                                        <div class="suggestions-roles-wrap">
                                            <div class="inner-area" #scrollpanel>
                                                <tr class="items-container" [ngClass]="{'container-selected': i == selectionRnICounter}" *ngFor="let item of filteredRnIList; let i = index" (mouseenter)="selectionRnICounter = i" (click)="selectRole(item)">
                                                    <td class="name">
                                                        <a *ngIf="i != selectionRnICounter" class="item">{{item.get("title")}}</a>
                                                        <a *ngIf="i == selectionRnICounter" class="item-selected">{{item.get("title")}}</a>
                                                    </td>
                                                </tr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- INDUSTRIES SUGGESTIONS -->

                                <div #industriessuggestions>
                                    <div class="suggestions suggestions-industries" *ngIf="filteredRnIList && filteredRnIList.length > 0 && activeForIndustries == true">
                                        <div class="suggestions-industries-wrap">
                                            <div class="inner-area" #scrollpanel>
                                                <tr class="items-container" [ngClass]="{'container-selected': i == selectionRnICounter}" *ngFor="let item of filteredRnIList; let i = index" (mouseenter)="selectionRnICounter = i" (click)="selectIndustry(item)">
                                                    <td class="name">
                                                        <a *ngIf="i != selectionRnICounter" class="item">{{item.get("title")}}</a>
                                                        <a *ngIf="i == selectionRnICounter" class="item-selected">{{item.get("title")}}</a>
                                                    </td>
                                                </tr>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- SKILLS DROPDOWN -->
                                <div #skillsdropdown>
                                    <div class="dropdown-wrap" *ngIf="dropdownVisible === true" >
                                        <div class="categories-wrap" (clickOutside)="dropdownVisible = false" [delayClickOutsideInit]="true">
                                            <div class="category-wrap" *ngFor="let category of categories; let i = index">
                                                <div *ngIf="category" class="category-title" (click)="getCategorySkills(i); activeSkillsCategory = category.get('title')">
                                                    {{category.get('title')}}
                                                </div>
                                                <div #categoryTitles class="skills-wrap"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- ROLES DROPDOWN -->
                                <div #rolesdropdown>
                                    <div class="dropdown-wrap dropdown-roles" *ngIf="dropdownRolesVisible === true">
                                        <div class="roles-wrap" (clickOutside)="dropdownRolesVisible = false" [delayClickOutsideInit]="true">
                                            <div>
                                                <div class="role-wrap" *ngFor="let item of roles; let i = index" (click)="prevDfSelecting($event)">
                                                    <div *ngIf="item" class="item-title" (click)="prevDfSelecting($event); selectRole(item)">
                                                        {{item.get('title')}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- INDUSTRIES DROPDOWN -->
                                <div #industriesdropdown>
                                    <div class="dropdown-wrap dropdown-industries" *ngIf="dropdownIndustriesVisible === true">
                                        <div class="roles-wrap" (clickOutside)="dropdownIndustriesVisible = false" [delayClickOutsideInit]="true">
                                            <div class="role-wrap" *ngFor="let item of industries; let i = index">
                                                <div *ngIf="item" class="item-title" (click)="selectIndustry(item)">
                                                    {{item.get('title')}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- SELECTED SKILLS -->

                                <div class="selected-title" *ngIf="selected && selected.length > 0">Selected Skills</div>
                                <div class="selected-items-container" [ngClass]="{'selected-no-display': selected.length <= 0}">
                                    <div class="selected-items" *ngFor="let item of selected">
                                        <div class="selected-skill">
                                            <div class="selected" [class.editable]="editable" (click)="editable && remove(item)">
                                                <div class="sel-skill-cont">
                                                    <span>{{item.get('skill').get('title')}}</span>
                                                    <span class="exp selected-exp" *ngIf="item.get('selectedExperienceDuration') == 1">any</span>
                                                    <span class="exp selected-exp" *ngIf="item.get('selectedExperienceDuration') == 2">3+</span>
                                                    <span class="exp selected-exp" *ngIf="item.get('selectedExperienceDuration') == 3">5+</span>
                                                </div>
                                                <div *ngIf="editable" class="delete-title">
                                                    <p>Remove</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- SELECTED ROLES -->

                                <div class="selected-title" *ngIf="selectedRoles && selectedRoles.length > 0">Selected Roles</div>
                                <div class="selected-items-container" [ngClass]="{'selected-no-display': selectedRoles.length <= 0}">
                                    <div class="selected-items" *ngFor="let item of selectedRoles">
                                        <div class="selected-skill">
                                            <div class="selected" [class.editable]="editable" (click)="editable && roleRemove(item)">
                                                <div class="sel-skill-cont">
                                                    <span>{{item.get('title')}}</span>
                                                </div>
                                                <div *ngIf="editable" class="delete-title">Remove</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- SELECTED INDUSTRIES -->

                                <div class="selected-title" *ngIf="selectedIndustries && selectedIndustries.length > 0">Selected Industries</div>
                                <div class="selected-items-container" [ngClass]="{'selected-no-display': selectedIndustries.length <= 0}">
                                    <div class="selected-items" *ngFor="let item of selectedIndustries">
                                        <div class="selected-skill">
                                            <div class="selected" [class.editable]="editable" (click)="editable && industryRemove(item)">
                                                <div class="sel-skill-cont">
                                                    <span>{{item.get('title')}}</span>
                                                </div>
                                                <div *ngIf="editable" class="delete-title">Remove</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="job-type-title" class="option-title" [ngClass]="{'red-color': alertHappend && jobVal === 0}">Job type</td>
                        <td>
                            <mat-button-toggle-group [disabled]="!editable" class="job-type-group" [(ngModel)]="jobVal" [ngModelOptions]="{standalone: true}">
                                <mat-button-toggle class="job-type-input" value=1 (change)="initSalaryRange(1, 1)"> Permanent</mat-button-toggle>
                                <mat-button-toggle class="job-type-input" value=2 (change)="initSalaryRange(2, 2)"> Contract/Freelance</mat-button-toggle>
                                <mat-button-toggle class="job-type-input" value=3 (change)="initSalaryRange(3, 3)"> Urgent Help/Freelance</mat-button-toggle>
                            </mat-button-toggle-group>
                        </td>
                    </tr>
                    <!-- START DATE INPUT -->
                    <tr>
                        <td class="option-title " id="start-date-title">Start Date</td>
                        <td class="start-date-info value-container">
                            <mat-button-toggle-group class="asap-group" [(ngModel)]="asap" [ngModelOptions]="{standalone: true}">
                                <mat-button-toggle [disabled]="!editable" class="asap-input" value="true">ASAP</mat-button-toggle>
                                <mat-button-toggle [disabled]="!editable" class="asap-input" value="false" (click)="editable && datePick()">
                                    <a *ngIf="asap === 'true'">Before date </a>
                                    <a *ngIf="asap !== 'true'">{{datepickerValue.value || 'Before date'}}</a>
                                    <mat-form-field style="width:0; height: 0;" class="one-line-display">
                                        <input class="material-datepicker-value" matInput #datepickerValue [matDatepicker]="datePicker" formControlName="startContractDate">
                                    </mat-form-field>
                                    <mat-datepicker-toggle matSuffix [for]="datePicker" id="datebicker-toggle"></mat-datepicker-toggle>
                                    <mat-datepicker [disabled]="!editable" #datePicker></mat-datepicker>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                            <div class="start-date-input">
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="rangeLabel == 'Salary'">
                        <td>Duration</td>
                        <td>
                            <mat-form-field>
                                <mat-select placeholder="From" formControlName="durationMin">
                                    <mat-option *ngFor="let dur of durationFrom" (click)="durFromSelect(dur)" [value]="dur">
                                        {{dur}} month
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select #optionTo [(ngModel)]="optionToSelect" placeholder="To" formControlName="durationMax">
                                    <mat-option *ngFor="let dur of durationTo" (click)="durToSelect(dur)" [value]="dur">
                                        {{dur}} month
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <!-- SALARY INPUT -->
                    <tr *ngIf="rangeConfig">
                        <td *ngIf="rangeLabel != 'Salary'" class="option-title">{{rangeLabel}}</td>
                        <td *ngIf="rangeLabel == 'Salary'">
                            <mat-select #hourlySalary class="daily-input" formControlName="isRatedHourly" name="isRatedHourly" (change)="initRate(hourlySalary)">
                                <mat-option [value]="false" selected>Daily</mat-option>
                                <mat-option [value]="true">Hourly</mat-option>
                            </mat-select>
                        </td>
                        <td>
                            <div class="value-container salary-container">
                                <p class="min-max-title">min:</p>
                                <div class="wrap-content">
                                    <input #minInput [(ngModel)]="range[0]" type="text" class="min-salary" (change)="changeSliderValue(0,minInput?.value)" formControlName="minRate" placeholder="MIN" (keydown)="prevDefGeneral($event, 'min')" />
                                </div>
                                <p class="min-max-title">max:</p>
                                <div class="wrap-content">
                                    <input #maxInput [(ngModel)]="range[1]" type="text" class="min-salary" (change)="changeSliderValue(1,maxInput?.value)" formControlName="maxRate" placeholder="MAX" (keydown)="prevDefGeneral($event, 'max')" />
                                </div>
                                <div *ngIf="editable" class="salary-input salary-slider" [class.smallrange]="hideSalaryTips">
                                    <nouislider #rangeSlider id="noui-range" [config]="rangeConfig" [(ngModel)]="range" [ngModelOptions]="{standalone: true}"></nouislider>
                                </div>
                                <div *ngIf="!editable" class="salary-input salary-slider" [class.smallrange]="hideSalaryTips">
                                    <nouislider disabled="true" #rangeSlider id="noui-range" [config]="rangeConfig" [(ngModel)]="range" [ngModelOptions]="{standalone: true}"></nouislider>
                                </div>
                                <mat-select *ngIf="editable" class="salary-input currency-switch" formControlName="SalaryCurrency" (change)="currencyChange()">
                                    <mat-option *ngFor="let currency of salaryCurrencies" [value]="currency">{{currency.get('Name')}}</mat-option>
                                </mat-select>
                                <label *ngIf="editable"><a class = "nowrap">
                                Hide on job ad
                                <input type="checkbox" formControlName="salaryPreferencesHidden" /></a>
                        </label>
                            </div>
                        </td>
                    </tr>
                    <!-- JOB LOCATION INPUT -->
                    <tr>
                        <td id="job-location-title" class="option-title" [ngClass]="{'red-color': alertHappend && contractForm.value.JobLocationFEinput === ''}">Job Location</td>
                        <td>
                            <mat-form-field class="">
                                <input matInput placeholder="Enter City" aria-label="State" [matAutocomplete]="auto" formControlName="JobLocationFEinput" (keypress)="suggestionsSet()">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngIf="matSpinnerActive">
                                        <mat-spinner [diameter]="40" [strokeWidth]="3.2"></mat-spinner>
                                    </mat-option>
                                    <mat-option (onSelectionChange)="showPlace(place)" *ngFor="let place of places" value="{{place.description}}">
                                        <span>{{ place.description }}</span>
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                    </tr>
                    <!-- FLEXIBILITY INPUT -->
                    <tr>
                        <td id='flexibility-title' [ngClass]="{'red-color': alertHappend && contractForm.value.Flexibility === 0}">Flexibility </td>
                        <td>
                            <mat-button-toggle-group class="flexibility-group" formControlName="Flexibility">
                                <mat-button-toggle class="flexibility-inputs" [value]="1" (change)="changeFlexibility(1)"> Office based</mat-button-toggle>
                                <mat-button-toggle class="flexibility-inputs" [value]="2" (change)="changeFlexibility(2)">Flexible</mat-button-toggle>
                                <mat-button-toggle class="flexibility-inputs" [value]="3" (change)="changeFlexibility(3)">Remote</mat-button-toggle>
                            </mat-button-toggle-group>
                        </td>
                    </tr>
                    <!-- SOURCING TALENT FROM INPUT -->
                    <tr>
                        <td class="option-title">
                            <a class="nowrap info-wrap">Sourcing talent from
							<mat-icon  matTooltip="Asses candidates as a team!
							Link a scorecard to the job so that you and your team can standardise candidate assessment and scoring.	" class="button-icon">info_outline</mat-icon></a>
                            <div *ngIf="toShowInfoSourcing === true" class="info-tab"><a class="info-title">{{scorecardInfo.header}}</a><br><a>{{scorecardInfo.content}}</a></div>
                        </td>
                        <td>
                            <div class="add-country-block">
                                <button modal-button mat-raised-button *ngIf="editable" type="button" (click) = "addCountries()">Add country(s)</button>
                                <!-- <modal (onLoad)="loadCountries()">
                                    <button modal-button mat-raised-button *ngIf="editable" type="button">Add country(s)</button>
                                    <div modal-content>
                                        <h4>Add Countries</h4>
                                        <div class="modal-search-wrap">
                                            <input type="search" class="modal-search" (input)="updateFilter($event.target.value)" />
                                        </div>
                                        <div *ngFor="let countryObj of countriesSourcing | SearchCountryPipe: countriesFilter" class="modal-option-wrap">
                                            <input id="{{ countryObj.country.id }}" type="checkbox" [(ngModel)]="countryObj.checked" [ngModelOptions]="{standalone: true}" />
                                            <label for="{{ countryObj.country.id }}">{{ countryObj.country.get("Country") }}</label>
                                        </div>
                                    </div>
                                </modal> -->
                                <div class="countries-labels">
                                    <div *ngFor="let country of countriesSourcing ">
                                        <div class="contry-label" [class.editable]="editable" *ngIf="country.checked" (click)="uncheckItem(country)">
                                            {{country.country.get("Country")}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- SPONSORING WORK PERMIT INPUT -->
                    <tr>
                        <td class="option-title middle-title">
                            <a class="nowrap">Sponsoring Work Permit
									<!-- (mouseenter) = "showInfo('permit')" -->
					<mat-icon matTooltip="Ready to go the extra-mile for the right candidate?
					Let talent know that you are willing to sponsor work permit." class="button-icon">info_outline</mat-icon></a>
                            <div *ngIf="toShowInfoPermit === true" class="info-tab"><a class="info-title">{{workingVisaInfo.header}}</a><br><a>{{workingVisaInfo.content}}</a></div>
                        </td>
                        <td>
                            <label class="switch bottom-elem middle-title" *ngIf="contractForm">
                        <input type="checkbox" formControlName="sponsoringWorkVisa" name="sponsoringVisa" >
                        <div class="slider round"></div>
                    </label>
                        </td>
                    </tr>
                </table>
            </section>
            <!-- !!!!RIGHT SECTION START!!!! -->
            <section class="right-section">
                <div class="settings-wrap">
                    <div class="settings-item">
                        <span class="settings-item__title">Department</span>
                        <div class="settings-item__select-holder">
                            <p class="settings-item__button" 
                                    *ngIf="department === ''"
                                    (click)="departmentListShown = true">Select Department</p>
                            <p class="settings-item__button" 
                                    *ngIf="department !== ''"
                                    (click)="departmentListShown = true">{{department}}</p>                        
                            <ul class="settings-item__office-list" 
                                *ngIf="departmentListShown" 
                                (clickOutside)="departmentListShown = false"
                                [delayClickOutsideInit]="true">
                                <li (click)="department = 'General & Administration'; departmentListShown = false;">General & Administration</li>
                                <li (click)="department = 'Marketing'; departmentListShown = false;">Marketing</li>
                                <li (click)="department = 'Sales'; departmentListShown = false;">Sales</li>
                                <li (click)="department = 'R&D'; departmentListShown = false;">R&D</li>
                                <li (click)="department = 'Hardware Engineering'; departmentListShown = false;">Hardware Engineering</li>
                                <li (click)="department = 'Software Engineering'; departmentListShown = false;">Software Engineering</li>
                                <li (click)="department = 'Operations'; departmentListShown = false;">Operations</li>
                                <li (click)="department = 'Human Resources'; departmentListShown = false;">Human Resources</li>                                
                            </ul>
                        </div>
                    </div>
                    <div class="settings-item">
                        <span class="settings-item__title">Office</span>
                        <div class="settings-item__select-holder">
                            <p class="settings-item__button" 
                                    *ngIf="office === ''"
                                    (click)="officeListShown = true">Select Office</p>
                            <p class="settings-item__button" 
                                    *ngIf="office !== ''"
                                    (click)="officeListShown = true">{{office}}</p>                        
                            <ul class="settings-item__office-list" 
                                *ngIf="officeListShown"
                                (clickOutside)="officeListShown = false"
                                [delayClickOutsideInit]="true">
                                <li (click)="office = 'Warsaw'; officeListShown = false;">Warsaw</li>
                                <li (click)="office = 'Kiev'; officeListShown = false;">Kiev</li>
                                <li (click)="office = 'Madrid'; officeListShown = false;">Madrid</li>
                                <li (click)="office = 'California'; officeListShown = false;">California</li>
                                <li (click)="office = 'Sevilla'; officeListShown = false;">Sevilla</li>
                                <li (click)="office = 'Toronto'; officeListShown = false;">Toronto</li>
                            </ul>
                        </div>
                    </div>
                    <div class="settings-item">
                        <span class="settings-item__title">Hiring target</span>
                        <mat-form-field class="example-full-width" style="visibility: hidden; position: absolute; width: 0;">
                            <input matInput  #settingsDatePickerInput [matDatepicker]="settingsDatePicker" placeholder="Choose a date">
                            <mat-datepicker #settingsDatePicker></mat-datepicker>
                        </mat-form-field>
                        <button mat-raised-button class="settings-item__button width_40" 
                                *ngIf="settingsDatePickerInput.value  === ''"
                                (click)="settingsDatePicker.open(); $event.preventDefault();">Select Date</button>
                        <button mat-raised-button class="settings-item__button width_40" 
                                *ngIf="settingsDatePickerInput.value  !== ''"
                                (click)="settingsDatePicker.open(); $event.preventDefault();">{{settingsDatePickerInput.value}}</button>                        
                        <span class="settings-item__notice">Internal visibility only</span>
                    </div>
                    <div class="settings-item">
                        <span class="settings-item__title">Purchase order</span>
                        <input type="text" class="settings-item__input width_40" placeholder="Enter PO/Internal Ref">
                        <span class="settings-item__notice">Internal visibility only</span>                        
                    </div>
                </div>
            </section> 
        </section>
        <div class="black-line"><a><i>COMPANY DETAILS</i></a></div>
        <!-- COMPANY DETAILS SECTION -->
        <section class="second-section">
            <!-- COMPANY LOGO INPUT -->
            <div class="input-logo input-wrap">
                <label>
                <img #companyLogo class="company-logo" />
                <input *ngIf = 'adminLevel == 1' type="file" (change)="getLogo($event)" formControlName="logo" />
            </label>
            </div>
            <!-- COMPANY NAME INPUT -->
            <div class="input-company-name input-wrap">
                <div id="company-name-title" class="form-group-text">
                    <label for="companyName">
                   <a [ngClass] = "{'red-color': alertHappend && contractForm.value.companyName === ''}">Company Name</a>
                </label>
                    <br>
                    <input class="textfield company-name" id="companyName" formControlName="companyName" type="text" placeholder="Name of your company" />
                </div>
            </div>
            <!-- COMPANY DESCRIPTION INPUT -->
            <div class="input-company-description input-wrap">
                <div class="form-group-text">
                    <div class="hide-checkbox">
                        <label *ngIf="editable" class="hide-label">
                    Hide on job ad
                    <input type="checkbox" formControlName="companyDescriptionHidden" />
                </label>
                    </div>
                    <label for="companyDescription">
                    Company Description
                </label>
                    <br>
                    <textarea class="textarea company-description" id="companyDescription" #companyDescription formControlName="companyDescription" maxlength="{{companyDescriptionMaxLength}}" placeholder="Description of your company"></textarea>
                    <span class="textarea-length length-company-desc">{{companyDescriptionMaxLength - companyDescription.value.length}} characteres</span>
                </div>
            </div>
            <!-- JOB BENEFITS -->
            <div class="input-wrap">
                <div class="form-group-text">
                    <div class="hide-checkbox">
                        <label *ngIf="editable" class="hide-label">
                      Hide on job ad
                      <input type="checkbox" formControlName="jobBenefitsHidden" />
                    </label>
                    </div>
                    <label for="jobBenefits">
                    Company Benefits
                  </label>
                    <br>
                    <textarea class="textarea company-description" id="jobBenefits" #jobBenefits formControlName="jobBenefits" maxlength="{{jobBenefitsMaxLength}}" placeholder="_ _"></textarea>
                    <span class="textarea-length length-benefits">{{jobBenefitsMaxLength - jobBenefits.value.length}} characteres</span>
                </div>
            </div>
        </section>
        <!-- <div *ngIf="!contractObj" class="buttom-create-job-btn">
            <button type="submit" class="create-button-btm">Create job</button>
        </div>
        <div class="edit-buttons-container">
            <button class="create-button-btm" *ngIf="!editable && contractObj.get('status') != 3" (click)="enableEdit(true)">Edit</button>
            <button class="create-button-btm" *ngIf="!editable && contractObj.get('status') == 3" (click)="enableEdit(true)">Edit Draft</button>
            <button type="submit" class="create-button-btm" *ngIf="editable && contractObj && contractObj.get('status') != 3" (click)="showEditAlert()">Save Changes</button>
            <button class="create-button-btm" *ngIf="editable && contractObj && contractObj.get('status') == 3" (click)="postJob()">Post Job</button>
        </div> -->
    </form>
</section>
<div class="triangle-wrap">
    <div class="feedback_triangle" (click)="feedbackCreation()">
        <div class="feedback_text">
            FeedBack+
        </div>
        <img class="speaker" src="../../../assets/icons/speaker.png">
    </div>
</div>

