<div id="make_referral">
	<div class="panel">
		<div class="makeReferralPanel">
			<form class="example-form">
				<mat-form-field class="example-full-width">
				  <input matInput placeholder="Enter new password" [formControl]="pwdOne">
				</mat-form-field>
			</form>
			<form class="example-form">
				<mat-form-field class="example-full-width">
				  <input matInput placeholder="Enter password again" [formControl]="pwdTwo">
				</mat-form-field>
			</form>
			<button *ngIf="(pwdOne.value == pwdTwo.value) && pwdOne.value != ''" (click)="savePassword()">Change password</button>
			<button *ngIf="!(pwdOne.value == pwdTwo.value) || pwdOne.value == ''" disabled>Change password</button>
		</div>
	</div>
	<button class="close" (click)="closeMakeReferral()"></button>
</div>