<div class="job-box-wrapper">
  <div class="job-offer" #jobBox>
    <div class="job-offer-header">
      <div class="job-header-info" (click)="goToJobDetails(contract.id, DeveloperListType.suggested)">
        <div class="job-title">
          {{contract.get('title')}}
          <span class="location" *ngIf="contract.get('jobCountry')">
            {{contract.get('jobCountry').get('Country')}}
          </span>
        </div>
        <div *ngIf="!contract.get('salaryHidden') && contract.get('jobType')" class="job-type">
          <span [ngSwitch]="contract.get('jobType')">
            <span *ngSwitchCase=2>Contract</span>
            <span *ngSwitchCase=1>Permanent</span>
            <span *ngSwitchCase=3>Urgent/Freelance</span>
            <span *ngSwitchDefault>Permanent or Contract</span>
          </span>
          — {{(contract.get('jobType') == 1 ? contract.get('minAnnualRate') : contract.get('isRatedHourly') ? contract.get('Min_hourly') : contract.get('minRate')) | currency:contract.get('SalaryCurrency').get('Currency'):true:'1.0-0'}} - {{(contract.get('jobType')
          == 1 ? contract.get('maxAnnualRate') : contract.get('isRatedHourly') ? contract.get('Max_hourly') : contract.get('maxRate')) | currency:contract.get('SalaryCurrency').get('Currency'):true:'1.0-0'}}

        </div>
        <div *ngIf="contract.get('salaryHidden')" class="job-type">{{contract.get('jobType')}} — Negotiable</div>
      </div>

      <div class="job-offer-buttons">

        <button *ngIf="contract.get('status') != 3" class="job-header-button icon-button" (click)="uploadCvFunc($event)"><i class="fa fa-upload icon" aria-hidden="true"></i></button>
        <!--<button *ngIf="contract.get('status') == 1" class="job-header-button" share="qeqweqwe">Social Media Share</button>-->
        <button *ngIf="contract.get('status') == 1" class="job-header-button" [routerLink]="['/jobs', contract.id, 'job-boards']" skipLocationChange>Advertise Job</button>

        <button class="job-header-button icon-button" (click)="openMenu()"><i class="fa fa-cog icon" aria-hidden="true"></i></button>
        <div class="menu-popup popup hidden" #menu (mouseleave)="closeMenu()">
          <ul>
            <li *ngIf="contract.get('status') == 1" class="blue-link info" [routerLink]="['/jobs', contract.id, 'job-boards']" skipLocationChange>
              <mat-icon class="menu-icon">open_in_browser</mat-icon>Advertise on job boards</li>
            <!--<li *ngIf="contract.get('status') == 1" class="blue-link info" share="test">-->
              <!--<mat-icon class="menu-icon">share</mat-icon>Share on social networks</li>-->
            <li *ngIf="contract.get('status') != 3" class="blue-link" [routerLink]="['/jobs', contract.id]">
              <mat-icon class="menu-icon">description</mat-icon>Open job details</li>
            <li  *ngIf="contract.get('status') == 3" class="blue-link" [routerLink]="['/jobs', contract.id, 'job-overview']">
              <mat-icon class="menu-icon">description</mat-icon>Open job details</li>
            <li *ngIf="contract.get('status') != 3" class="yellow-link" (click)="uploadCvFunc($event)">
              <mat-icon class="menu-icon">file_upload</mat-icon>Upload candidates</li>
            <li (click)="duplicateAsDraft(contract.id)">
                <mat-icon class="menu-icon">content_copy</mat-icon>Duplicate as draft</li>
            <li *ngIf="contract.get('status') == 1" (click)="archiveContract()">
              <mat-icon class="menu-icon">archive</mat-icon>Archive</li>
            <li class="red-link" (click)="deleteContract()">
              <mat-icon class="menu-icon">delete</mat-icon>Delete</li>


            <!--For testing-->
            <li class="red-link" (click)="activateContract()">Activate</li>


          </ul>
        </div>

      </div>
    </div>

    <div class="job-offer-stages">

      <div class="job-stage" *ngFor="let stage of stages" (click)="goToJobDetails(contract.id, stage.type)">
        <div class="job-stage-inner">
          <div *ngIf="stage.value !== 0" class="property-value">{{stage.value}}</div>
          <div *ngIf="stage.value === 0" class="property-value">—</div>
          <div class="property-title">{{stage.title}}</div>
        </div>
      </div>
      
  
    </div>

    <div class="job-offer-footer">
      <div class="posted-on" *ngIf="contract.get('status') === ContractStatus.active">
        Published on
        <span class="bold">The SwipeIn App</span>
        <span class="bold" *ngFor="let jobBoardPush of jobBoardPushes.slice(0, 4)">, {{jobBoardPush.get('Name')}}</span>
      </div>
      <div class="more-jobboards" *ngIf="jobBoardPushes.length > 4" [matTooltip]="jobBoardPushesString">
        ... and more
      </div>
      <div class="post-date" *ngIf="(contract.get('postedAt') && contract.get('status') != ContractStatus.draft)">
        Posted on {{contract.get('postedAt') | date:'d.M.y'}}
      </div>
      <div *ngIf="contract.get('status') == ContractStatus.draft" class="post-date">
        Draft saved on {{contract.get('updatedAt') | date:'d.M.y'}}
      </div>
    </div>
  </div>

  <div class="pending-job-box" *ngIf="status === 'pending'">
    <span class="pending-job-box__header">Pending Approvals</span>
    <div class="pending-job-box__approval-info">
      <div class="approval-header">
        <span>Approver</span>
        <span>Approved</span>
      </div>
      <div *ngFor="let approver of contract.get('approvers')" class="approver-status">
          <span>{{approver.name}}</span>
          <span>{{approver.pendingStatus}}</span>
      </div>
    </div>
  </div>
  
  <div class="published-job-box" *ngIf="status === 'none'">
    <div class="published-job-box__hiring-target">
      <p>Hiring Target:</p>
      <p>{{contract.get('jobHiringTarget') | date: 'MMM d, y'}}</p>
      <p *ngIf="!contract.get('jobHiringTarget')">No hiring target choosen.</p>
    </div>
    <div class="published-job-box__likelihood-achieve">
      <p (click)="showLikelihood = !showLikelihood">Likelihood to achieve <mat-icon class="play-arrow">play_arrow</mat-icon></p> 
      <div class="likelihood-percentages">
        <div class="percentages" 
             *ngIf="showLikelihood"
             (clickOutside)="showLikelihood = false"
             [exclude]="'.percentage'"
             [delayClickOutsideInit]="true">  
          <p 
            *ngFor="let clientProbabilityToCloseJob of clientProbabilitiesToCloseJob" 
            (click)="changeLikeliHoodToFill(clientProbabilityToCloseJob.percentage, contract)" 
            class="percentage" 
            [ngClass]="{
              'lower-probability': clientProbabilityToCloseJob.percentage < 50,
              'middle-probability': clientProbabilityToCloseJob.percentage == 50,
              'higher-probability': clientProbabilityToCloseJob.percentage > 50
            }">
            {{clientProbabilityToCloseJob.percentage}}%
          </p>
        </div>
        <div class="likelihood-info" 
          *ngIf="showLikelihoodInfo" 
          (click)="showLikelihoodInfo = !showLikelihoodInfo"
          (clickOutside)="showLikelihoodInfo = false"
          [exclude]="'.likelihood-info'"
          [delayClickOutsideInit]="true">
            <p *ngFor="let clientProbabilityToCloseJob of clientProbabilitiesToCloseJob">
              <span class="likelihood-percentage">{{clientProbabilityToCloseJob.percentage}}%</span> 
              <span class="likelihood-percentage-info">{{clientProbabilityToCloseJob.description}}</span>
            </p>
          </div>
        <div class="likelihood-info-icon" title="Info" *ngIf="showLikelihood" (click)="showLikelihoodInfo = !showLikelihoodInfo">i</div>
        <span class="selected-likelihood-percentage percentage_orange" *ngIf="!showLikelihood && contract.get('likelihoodToFill') < 50">{{contract.get('likelihoodToFill')}}%</span>   
        <span class="selected-likelihood-percentage percentage_light-green" *ngIf="!showLikelihood && contract.get('likelihoodToFill') == '50'">{{contract.get('likelihoodToFill')}}%</span>   
        <span class="selected-likelihood-percentage percentage_green" *ngIf="!showLikelihood && contract.get('likelihoodToFill') > 50">{{contract.get('likelihoodToFill')}}%</span>   
      </div> 
    </div>
  </div>  
</div> 





<!-- <div  class="jobs-wrap">
    <div  class="job-box-wrap">
      <job-box  _nghost-c13="" ng-reflect-status="none" ng-reflect-contract="[object Object]"><div  class="job-box-wrapper">
<div  class="job-offer">
  <div  class="job-offer-header">
    <div  class="job-header-info">
      <div  class="job-title">
        Marketing Manager
        <span  class="location">
          Ukraine
        </span>
      </div>
     <div  class="job-type">
        <span  ng-reflect-ng-switch="1">
<span >Permanent</span>
        </span>
        — £50,000 - £150,000
      </div>
    </div>
    <div  class="job-offer-buttons">
      <button  class="job-header-button icon-button"><i  aria-hidden="true" class="fa fa-upload icon"></i></button>
      <button  class="job-header-button" skiplocationchange="" tabindex="0" ng-reflect-skip-location-change="" ng-reflect-router-link="/jobs,leYZZMZZaR,job-boards">Advertise Job</button>
      <button  class="job-header-button icon-button"><i  aria-hidden="true" class="fa fa-cog icon"></i></button>
      <div  class="menu-popup popup hidden">
        <ul >
         <li  class="blue-link info" skiplocationchange="" tabindex="0" ng-reflect-skip-location-change="" ng-reflect-router-link="/jobs,leYZZMZZaR,job-boards">
            <mat-icon  class="menu-icon mat-icon material-icons" role="img" aria-hidden="true">open_in_browser</mat-icon>Advertise on job boards</li>
          <li  class="blue-link" tabindex="0" ng-reflect-router-link="/jobs,leYZZMZZaR">
            <mat-icon  class="menu-icon mat-icon material-icons" role="img" aria-hidden="true">description</mat-icon>Open job details</li>
          <li  class="yellow-link">
            <mat-icon  class="menu-icon mat-icon material-icons" role="img" aria-hidden="true">file_upload</mat-icon>Upload candidates</li>
          <li >
              <mat-icon  class="menu-icon mat-icon material-icons" role="img" aria-hidden="true">content_copy</mat-icon>Duplicate as draft</li>
         <li >
            <mat-icon  class="menu-icon mat-icon material-icons" role="img" aria-hidden="true">archive</mat-icon>Archive</li>
          <li  class="red-link">
            <mat-icon  class="menu-icon mat-icon material-icons" role="img" aria-hidden="true">delete</mat-icon>Delete</li>
          <li  class="red-link">Activate</li>
        </ul>
      </div>
    </div>
  </div>
  <div  class="job-offer-stages">
     <div  class="job-stage">
      <div  class="job-stage-inner">
       <div  class="property-value">—</div>
        <div  class="property-title">Suggested</div>
      </div>
    </div><div  class="job-stage">
      <div  class="job-stage-inner">
       <div  class="property-value">4</div>
        <div  class="property-title">Applied</div>
      </div>
    </div><div  class="job-stage">
      <div  class="job-stage-inner">
       <div  class="property-value">—</div>
        <div  class="property-title">Employee Referrals</div>
      </div>
    </div><div  class="job-stage">
      <div  class="job-stage-inner">
      <div  class="property-value">—</div>
        <div  class="property-title">Shortlist</div>
      </div>
    </div><div  class="job-stage">
      <div  class="job-stage-inner">
       <div  class="property-value">—</div>
        <div  class="property-title">Phone Interview</div>
      </div>
    </div><div  class="job-stage">
      <div  class="job-stage-inner">
<div  class="property-value">—</div>
        <div  class="property-title">F2F Interview</div>
      </div>
    </div><div  class="job-stage">
      <div  class="job-stage-inner">
        <div  class="property-value">—</div>
        <div  class="property-title">Job Offered</div>
      </div>
    </div><div  class="job-stage">
      <div  class="job-stage-inner">
        <div  class="property-value">—</div>
        <div  class="property-title">Hired</div>
      </div>
    </div><div  class="job-stage">
      <div  class="job-stage-inner">
       <div  class="property-value">4</div>
        <div  class="property-title">Rejected</div>
      </div>
    </div>
  </div>
  <div  class="job-offer-footer">
    <div  class="posted-on">
      Published on
      <span  class="bold">The SwipeIn App</span>
    </div>
    <div  class="post-date">
      Posted on 10.5.2018
    </div>
  </div>
</div>
<div  class="published-job-box">
  <div  class="published-job-box__hiring-target">
    <p >Hiring Target:</p>
    <p >May 18, 2018</p>
  </div>
  <div  class="published-job-box__likelihood-achieve">
    <p >Likelihood to achieve <mat-icon  class="play-arrow mat-icon material-icons" role="img" aria-hidden="true">play_arrow</mat-icon></p> 
    <div  class="likelihood-percentages">
      <span  class="selected-likelihood-percentage percentage_green">75%</span>   
    </div> 
  </div>
</div>  
</div> 
</job-box>
    </div>
</div> -->