@import '../../../styles/variables';
@import '../../../styles/inputs';
@import '../../../styles/mixins';
@import '../../../styles/typography';
.template-details {
    @include displayFlex();
    @include flex-direction(column);
    @include flex-align-items(center);
    padding: 5%;
    position: relative;
    .info {
        p {
            padding: 3% 0;
        }
    }
    .title {
        @include displayFlex();
        @include flex-justify-content(flex-start);
        width: 100%;
        .button-return {
            .button-back {
                padding: 5px;
                border: none;
            }
        }
        .template-type {
            margin-left: 8%;
            font-size: $font-size-24;
            font-weight: bold;
        }
    }
    .edit-buttons {
        @include flex-align-self(flex-end);
        .edit-button,
        .save-button {
            margin-top: auto;
            border: none;
            /* Remove borders */
            color: white;
            /* Add a text color */
            padding: 14px 28px;
            /* Add some padding */
            cursor: pointer;
            /* Add a pointer cursor on mouse-over */
            background-color: #2196F3;
            border-radius: 4px;
        }
        .edit-button:hover,
        .save-button:hover {
            background-color: rgb(32, 136, 216);
        }
        .edit-button:active,
        .save-button:active {
            box-shadow: 0 4px 8px 0 rgb(122, 187, 236), 0 6px 20px 0 rgb(122, 187, 236);
        }
    }
    .template {
        width: 100%;
        &-title {
            font-weight: bold;
            @include flex-basis(175px);
        }
        &-name {
            margin: 2% 0;
            @include displayFlex();
            &-value {
                margin-left: 2%;
                @include flex-grow(6);
                input {
                    margin-top: -3%;
                    width: 100%;
                    background-color: white;
                    font-size: $font-size-16;
                    line-height: $font-size-24;
                    border: none;
                    outline: none;
                    padding: 0 15px;
                }
            }
        }
        &-subject {
            margin: 2% 0;
            @include displayFlex();
            &-value {
                margin-left: 2%;
                @include flex-grow(6);
                input {
                    margin-top: -3%;
                    width: 100%;
                    background-color: rgb(236, 236, 236);
                    font-size: $font-size-16;
                    line-height: $font-size-24;
                    border: none;
                    outline: none;
                    padding: 0 15px;
                }
            }
        }
        &-body {
            margin: 2% 0;
            @include displayFlex();
            &-value {
                margin-left: 2%;
                @include flex-grow(6);
                textarea {
                    resize: none;
                    // min-height: 800px;
                    // height: auto;
                    width: 60%;
                    background-color: rgb(236, 236, 236);
                    font-size: $font-size-16;
                    line-height: $font-size-24;
                    border: none;
                    outline: none;
                    overflow-y: hidden;
                    padding: 15px;
                }
            }
        }
    }
    .isActive {
        border: 2px solid whitesmoke !important;
        &:focus {
            border: 2px solid green !important;
        }
    }
}