<mat-form-field *ngIf="_activeStage == -2">
    <mat-select placeholder="Sort by" [(value)]="sortSelect">
        <mat-option value="skillsMatch" (click)="changeSortMethod('weight')">Best skills match</mat-option>
        <mat-option value="locationMatch" (click)="changeSortMethod('distance')">Best location match</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field *ngIf="_activeStage == -2">
    <mat-select placeholder="Skills fit" multiple (change)="skillsChecked($event.value)">
        <mat-option value="greatFit" #greatFit (click)="addToFiltersParameters(greatFit.value)">Great fit</mat-option>
        <mat-option value="goodFit" #goodFit (click)="addToFiltersParameters(goodFit.value)">Good fit</mat-option>
        <mat-option value="potentialFit" #potentialFit (click)="addToFiltersParameters(potentialFit.value)">Potential fit</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field *ngIf="_activeStage == -2">
    <mat-select placeholder="Relocation" multiple (change)="relocationChecked($event.value)">
        <mat-option #international value="international" (click)="addToFiltersParameters(international.value)">Willing to relocate Internationally</mat-option>
        <mat-option #national (click)="addToFiltersParameters(national.value)" value="national">Willing to relocate Nationally</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field *ngIf="_activeStage == -2">
<mat-select placeholder="Add country" multiple (change)="countryChecked($event.value)">
    <mat-option (click)="addToFiltersParameters(country)" *ngFor="let country of countryArray" [value]="country">{{country}}</mat-option>
</mat-select>
</mat-form-field>
<mat-form-field *ngIf="_activeStage != -2">
    <mat-select placeholder="Bulk actions">
        <mat-option (click)="sendEmail()">Send email/templates</mat-option>
        <mat-option (click)="openRejectionModal()">Reject</mat-option>
    </mat-select>
</mat-form-field>
<div class="candidates-count-block" *ngIf="_activeStage == -2">
    <div *ngIf="candidatesCount > 0">    
    Candidates found: {{candidatesCount}}
    </div>
</div>
<button *ngIf="!selectedAll && _activeStage != -2" mat-button (click)="selectionFunc(true)">Select all</button>
<button *ngIf="selectedAll && _activeStage != -2" mat-button (click)="selectionFunc(false)">Unselect all</button>
<div class="candidates-count-block" *ngIf="_activeStage != -2">
    {{arrayOfDevs.length}} candidates selected
</div>
<section class="candidates-inner-section" *ngIf="hasCandidates === Loading.success">
    <div class="candidates-list-section-wrap">
        <div class="mat-progress-spinner-layout" *ngIf="postLoader === true">
            <mat-progress-spinner class="candidates-loader" color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div class="candidates-list-section" *ngIf="candidates" (scroll)="loadCandidatesAtTheEnd($event)">
            <div class="candidate-block" 
                *ngFor="let candidate of candidates.results"
                (click)="userProfile(candidate.id, getPercentageMatch(candidate), getLocationMatch(candidate))" 
                [class.active]="userId == candidate.id">
                <div class="candidate-fit-status-wrap">
                        <span class="candidate-fit-relocate" *ngIf="candidate.get('developer').get('IsInternationalRelocate')"><img src="../../../../assets/icons/relocate-icon.png" alt=""></span>
                        <div class="candidate-fit-status">
                            <div class="match candidate-fit potential" 
                                *ngIf="getPercentageMatch(candidate) <= 30"
                                style="background-image:url('../../../../assets/icons/potential-fit-icon.png')">
                                <span>Potential <br> fit</span>
                            </div>
                            <div class="match candidate-fit" 
                                *ngIf="getPercentageMatch(candidate) > 30 && getPercentageMatch(candidate) <= 70"
                                style="background-image:url('../../../../assets/icons/good-fit-icon.png')">
                                <span>Good fit</span>
                            </div>
                            <div class="match candidate-fit"
                                *ngIf="getPercentageMatch(candidate) > 70 && getPercentageMatch(candidate) <= 100"
                                style="background-image:url('../../../../assets/icons/great-fit-icon.png')">
                                <span>Great fit</span>
                            </div>
                        </div>
                        <div class="logo">
                            <img style="width: auto; height: 30px;"
                            src="{{candidate.source ? candidate.source : 'https://swipeinmlabtest.herokuapp.com/parse/files/dOEXXQD7cPjiKTAitzNLdzt5fJWXscFSFYOJmBIZ/90fc2f3d63b7192696b413b2d829b846_SwipeIn%20Logo%202.jpg'}}"
                            alt="logo">
                        </div>
                    </div>
                <div class="candidate-info-top-section">
                    <div class="avatar-wrap">
                        <img [src]="candidate.get('avatarURL')" (error)="errorHandler($event)" class="avatar">
                    </div>
                    <div class="candidate-general-info">
                        <div class="candidate-name">{{candidate.get('firstName')}} {{candidate.get('lastName')}}</div>
                        <div class="candidate-position">{{candidate.get('headline')}}</div>
                    </div>
                </div>
                <div class="candidate-info-bottom-section">
                    <div class="candidate-location-match">
                        <div class="location">
                            {{candidate.get('location')}}
                        </div>
                        <div class="location-away"
                            *ngIf="getLocationMatch(candidate) !== -1">
                                <span>{{ getLocationMatch(candidate) }}</span>
                                <span *ngIf="unitPreference == 1" class="location-away"> km away</span>
                                <span *ngIf="unitPreference == 2" class="location-away"> miles away</span>
                        </div>
                    </div>
                    <div *ngIf="candidate.get('developer').get('skills')" class="candidate-skills">
                        <div *ngFor="let skill of limitArray(candidate.get('developer').get('skills'))" class="skill-wrap">
                            <div class="skill-label">
                                {{skill.get('skill').get('title')}}
                            </div>
                        </div>
                    </div>
                    <div class="skills-count"><span
                            *ngIf="candidate.get('developer').get('skills') && candidate.get('developer').get('skills').length > 6">+{{candidate.get('developer').get('skills').length - limitArray(candidate.get('developer').get('skills')).length}}</span>
                    </div>
                </div>
                <mat-checkbox 
                    #candidateCheckbox 
                    class="bulk-checkbox" 
                    value="{{candidate.id}}" 
                    [ngModel]="selectedAll" 
                    (change)="checkIdOfDev(candidateCheckbox.value, $event)">
                </mat-checkbox>

            </div>
        </div>
        <div class="candidate-list-section" *ngIf="!candidates">
            No candidates found.
        </div>
    </div>
    <div class="candidate-profile">
        <app-candidate-profile [userId]="userId" [weight]="candidateWeight"
                               [contractId]="contractId"></app-candidate-profile>
    </div>
</section>

<section *ngIf="hasCandidates === Loading.loading">
    <div class="loading">
        <img src="./../../../assets/preloader/Loader7.gif" alt="">
    </div>
</section>

<section *ngIf="hasCandidates === Loading.error">
    There are no candidates on this stage
</section>
