<section class="permissions-inner">
  <div class="permissions-header">
    <h3 class="">User Roles</h3>
    <button mat-raised-button color="primary">Add new role</button>
  </div> 

  <table>
    <tr>
      <th>Role</th>
      <th></th>
      <th>Rights</th>
    </tr>
    <tr (click)="goToAccessLevel(1)" >
      <td>Site-admin</td>
      <td><div class="permission-label">Site-admin</div></td>
      <td>SwipeIn application access. Can invite and manage users, company settings and billing</td>
    </tr>
    <tr (click)="goToAccessLevel(2)" >
      <td>Admin</td>
      <td><div class="permission-label">Admin</div></td>
      <td>Swipe in application access. Can invite and manage users and company settings.</td>
    </tr>
    <tr (click)="goToAccessLevel(3)" >
      <td>Contributor</td>
      <td><div class="permission-label">Contributor</div></td>
      <td>Swipe in application access. Can invite users.</td>
    </tr>
  </table>
</section>



   
