<div class="modal-overlay" (click)="closeModal()">
  <div class="modal" (click)="$event.stopPropagation()">
    <p class="modal__title" *ngIf="!cvUploaded">
      Add candidate
    </p>
    <p class="modal__title" *ngIf="cvUploaded">
      Enhance candidate information
    </p>

    <!-- WARNING BOX START -->
    <div [hidden]="maxWarningHidden" class="max-warning-wrap" *ngIf="!loading && !cvUploaded">
      <span>Maximum 5 CVs!</span>
      <span>For bulk upload <span class="bold" style="text-decoration: underline; cursor: pointer;" (click)="redirectToImport(true)">go to bulk import</span></span>
      <mat-icon (click)="maxWarningHidden = true" class="icon-close">clear</mat-icon>
    </div>
    <!-- WARNING BOX END -->
    
    <!-- DROP BOX START -->
    <ng4-files-drop [configId]="'files-config'" (filesSelect)="filesSelect($event)" *ngIf="!cvUploaded && !loading">
      <div class="drop-box" [ngClass]="{'files-choosen': files.length > 0 }">
        <span *ngIf="files.length === 0">Drop file here</span>
        <mat-icon class="icon-cloud-upload" *ngIf="files.length === 0">move_to_inbox</mat-icon>
        <div class="drop-box__files-list" *ngIf="files.length > 0">
          <ol>
            <li *ngFor="let file of files; let i = index;">
              {{file.name}}
              <mat-icon (click)="deleteCV(i, files)" class="icon-clear">cancel</mat-icon>
            </li>
          </ol>
        </div>
        <p class="upload-cvs-btn" 
            *ngIf="files.length > 0"
            (click)="uploadCVs()">
          Upload CVs
          <mat-icon class="upload-cvs-btn-icon">cloud_upload</mat-icon>
        </p>
      </div>
      <div class="assets-block">
        <p class="assets-block__formats">
          (PDF, WORD or Rich Text file)
        </p>
        <ng4-files-click [configId]="'files-config'" (filesSelect)="filesSelect($event)">
            <p class="assets-block__upload-file-btn">Upload File</p>
        </ng4-files-click>
      </div>
    </ng4-files-drop>
    <!-- DROP BOX END -->
    <div class="spinner-wrap">
      <mat-progress-spinner class="progress-spinner" *ngIf="loading && !cvUploaded"  mode="indeterminate"></mat-progress-spinner>
    </div>

    <!-- CANDIDATE FORM START -->

    <form action="" [formGroup]="candidateForm" *ngIf="cvUploaded">
      <div class="row">
        <p class="input-holder">
          <span class="input-name">* First Name</span>
          <input type="text" formControlName="FirstName" name="FirstName">
        </p>
        <p class="input-holder">
          <span class="input-name">* Last Name</span>          
          <input type="text" formControlName="LastName" name="LastName">
        </p>
      </div>
      <div class="row">
        <p class="input-holder">
          <span class="input-name">Location</span>
          <input type="text" formControlName="City" name="City">
        </p>
        <p class="input-holder">
          <span class="input-name">Phone Number</span>
          <input type="text" formControlName="FormattedMobile" name="FormattedMobile">
        </p>
      </div>
    </form>

    <!-- CANDIDATE FORM END -->
    
  </div>
</div>