<div class="timeline-wrap">
  <div class="timeline-day">
    <div class="timeline-day-date-wrap">
      <div class="timeline-day-date">
        <span>March</span>
        <span>18th</span>
      </div>
      <div class="timeline-day-date-stripe"></div>
    </div>
    <div class="timeline-day-items-wrap">
      <div class="timeline-day-item">
        <div class="timeline-day-item-image">
          <img src="https://media.licdn.com/dms/image/C5103AQFbTcj4UY1qkQ/profile-displayphoto-shrink_100_100/0?e=1526292000&v=alpha&t=K7vGvOVyiahuF6hUkrLUSedh_a9Bp0F8OTojZQdKt2A" alt="">
        </div>
        <div class="timeline-day-item-content">
          <div class="timeline-day-item-content-text">
            You posted
            <span class="timeline-day-item-content-text bold">
              "Microsoft dynamics AX - Senior Financial analyst"
            </span>
          </div>
        </div>
      </div>
      <div class="timeline-day-item">
          <div class="timeline-day-item-image">
            <img src="https://media.licdn.com/dms/image/C5103AQFbTcj4UY1qkQ/profile-displayphoto-shrink_100_100/0?e=1526292000&v=alpha&t=K7vGvOVyiahuF6hUkrLUSedh_a9Bp0F8OTojZQdKt2A" alt="">
          </div>
          <div class="timeline-day-item-content">
            <div class="timeline-day-item-content-text">
              You published
              <span class="timeline-day-item-content-text bold">
                "Microsoft dynamics AX - Senior Financial analyst"
              </span>
              to SwipeIn and Indeed Free job boards
            </div>
          </div>
      </div>
      <div class="timeline-day-item">
          <div class="timeline-day-item-image">
            <img src="../../assets/icons/timeline-applicant.svg" alt="">
          </div>
          <div class="timeline-day-item-content">
            <div class="timeline-day-item-content-text notification">
              <span class="timeline-day-item-content-title">
                You have a new application
              </span>
              <p>
                <span class="timeline-day-item-content-bold">Job: </span>
                <span>Senior Recruitement Consultant</span>
              </p>
              <p>
                <span class="timeline-day-item-content-bold">Source: </span>
                <span>Indeed</span>
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
