<div class="timeline-wrap">
  <div class="timeline-day" *ngFor="let timelineDay of timelineArray">
    <div class="timeline-day-date-wrap">
      <div class="timeline-day-date">
        <span>{{timelineDay[0].dateToDisplay | date: 'EEEE'}}</span>
        <span>{{timelineDay[0].dateToDisplay | date: 'd'}}</span>
      </div>
      <div class="timeline-day-date-stripe"></div>
    </div>
    <div class="timeline-day-items-wrap">
      <div *ngFor="let timelineItem of timelineDay[1].timeline">
        <div class="timeline-day-item" 
             *ngIf="timelineItem.type === 'application'"
             (click)="goToJobDetails(timelineItem.contractId, -2);">
          <div class="timeline-day-item-image">
              <img src="../../assets/icons/timeline-applicant.svg" alt="">
          </div>
          <div class="timeline-day-item-content">
            <div class="timeline-day-item-content-text">
              You have a new applicant for job: 
              <span class="timeline-day-item-content-text bold">
                {{timelineItem.contractTitle}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
