<div *ngIf="teamMember !== undefined">
  <div class="header">
    <span *ngIf="teamMember.sessionStatus === 'false'"  class="team-member-status offline">not active</span>
    <span *ngIf="teamMember.sessionStatus === 'true'" class="team-member-status online">active</span>
    <div class="team-member-name">
      {{teamMember.firstName}}
      {{teamMember.lastName}}
    </div>
  </div>
</div>
<div *ngIf="teamMember !== undefined" class="messages-block" #messagesBlock (scroll)="onScrollUp($event)">
  <div class="loader-wrap" *ngIf="loader === true">
    <mat-progress-spinner class="candidates-loader"  color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
  <div class="info-block"  *ngIf="beginning === true">  
      <div class="info-block-logo" *ngIf="teamMember.avatar !== 'undefined'">
        <img src="{{teamMember.avatar}}" alt="">
        <span class="name">
          {{teamMember.firstName}}
          {{teamMember.lastName}}
        </span>
      </div>
      <div class="info-block-logo undefined" 
        [style.background-color]="teamMember.background" 
        *ngIf="teamMember.avatar === 'undefined'">
        <span>{{teamMember.undefinedAvatar}}</span>
      </div>
      <!-- <span class="name">
          {{teamMember.firstName}}
          {{teamMember.lastName}}
      </span> -->
      <p class="info-block-text">
        This is the very beginning of your direct message history with 
        <span class="info-block-text-name">
          {{teamMember.firstName}}
          {{teamMember.lastName}}
        </span>
      </p>
  </div>
  <div *ngIf="messages != [] || noMessages === false">
    <div #messageBlock class="message-block" *ngFor="let message of messages;">
      <div class="message-block-date">
        <div></div>
        <span>{{message[0].date}}</span>
        <div></div>
      </div>
      <div class="message-block-message" 
      messagesBlock
        [ngClass]="{'edit': daymessage.editHidden === true, 'check': daymessage.optionsHidden === true }" 
        *ngFor='let daymessage of message[1].messages;  trackBy: id'>
        <div class="message-block-message-avatar-wrap">
          <img *ngIf="daymessage.author != undefined" class="message-block-message-avatar" src="{{daymessage.get('author').get('avatarURL')}}" alt="">
          <div *ngIf="daymessage.get('author').get('avatarURL') == undefined && daymessage.author != undefined" class="message-block-message-avatar-undefined" [ngStyle]="{'background-color': teamMember.background | json}">
            <span>{{teamMember.undefinedAvatar}}</span>
          </div>
          <span *ngIf="daymessage.author === undefined" matTooltip="{{daymessage.get('createdAt') | date: 'EEE, d hh:mm:s a'}}" matTooltipPosition="above" class="message-block-message-date-hidden">{{daymessage.get('createdAt') | date: 'hh:mm a'}}</span>
        </div>
        <div class="message-block-message-container" *ngIf="daymessage.editHidden === false">
          <div class="message-block-message-name-date">
            <span *ngIf="daymessage.author != undefined" class="message-block-message-name">{{daymessage.author}}</span>
            <span *ngIf="daymessage.author != undefined" matTooltip="{{daymessage.get('createdAt') | date: 'EEEE, MMMM d, y, h:mm:ss a'}}" matTooltipPosition="above" class="message-block-message-date">{{daymessage.get('createdAt') | date: 'hh:mm a'}}</span>
          </div>
          <div class="message-block-text-wrap">
            <p class="message-block-text" [innerHTML]="decodeMessage(daymessage.get('message')) | sanitize ">
            </p>
            <span class="message-block-text-edited" *ngIf="daymessage.isEdited === true">(edited)</span>
            <span class="message-block-text-edited" *ngIf="daymessage.get('isEdited') === true">(edited)</span>
          </div>
        </div>
        <div *ngIf="daymessage.editHidden === true" class="message-block-edit">
          <p #editInput 
            contenteditable="true"
            propValueAccessor="innerHTML"
            ngDefaultControl
            [formControl]="daymessage.get('message') | sanitizeMessage"
            ngDefaultControl
            propValueAccessor="innerHTML"
            (keydown.enter)="editMessage(editInput.innerHTML, daymessage);"></p>
          <div class="edit-buttons-wrap">
            <button (click)="daymessage.editHidden = false" class="message-block-edit-cancel">cancel</button> 
            <button (click)="editMessage(editInput.innerHTML, daymessage);" class="message-block-edit-save">save changes</button>
          </div>
        </div> 
        <div *ngIf="daymessage.get('author').id === userId">
          <div class="options-button" [ngClass]="{'edit': daymessage.optionsHidden === true}" *ngIf="daymessage.editHidden === false" (click)="daymessage.optionsHidden = !daymessage.optionsHidden">
            <span>.</span>        
            <span>.</span>        
            <span>.</span>                  
          </div>
          <div *ngIf="daymessage.optionsHidden === true">
            <div class="options-menu" (clickOutside)="daymessage.optionsHidden = false" [delayClickOutsideInit]="true">
                <span (click)="daymessage.optionsHidden = false; daymessage.editHidden = true;" class="options-menu-edit">Edit message</span>
                <span (click)="alertDeleteMessage(daymessage)" class="options-menu-delete">Delete message</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
<div class="message-input-block" id="message-input-block">
  <p #fakeInput
    (keydown)="watch($event)"
    (keydown.enter)="sendColleagueMessage(textAreaValue, $event)"
    class="message-input-block-fake"
    contenteditable="true" 
    [formControl]="textAreaValue"
    ngDefaultControl
    propValueAccessor="innerHTML"
    id="chat-input">
  </p>
  <p class="placeholder" *ngIf="textAreaValue.value === ''">{{placeholder}}</p>
  <div class="subscriptions-block">
    <span id="mention-candidate" (click)="getJobTags()">#</span>
  </div>
  <span *ngIf="typing === true && teamMember !== undefined" class="typing-attention">{{teamMember.firstName}} {{teamMember.lastName}} is typing</span>
</div>

<div class="job-mentions-wrap" (clickOutside)="jobMentionsHidden = true;"  [exclude]="'#mention-candidate'" *ngIf="jobMentionsHidden === false">
  <div class="job-mentions">
    <ul>
      <li class="job-mentions-item" 
      *ngFor="let jobTag of jobMentionsArray"  
      (click)="addJobMentionLink(jobTag._id, jobTag.title, textAreaValue);">
        <span class="job-mentions-item-title">{{jobTag.title}}</span>
        <p class="job-mentions-item-city-date">
          <span>{{jobTag.JobLocationFEinput}}</span>
          /
          <span>Posted on {{jobTag.postedAt | date: 'MM.dd.yy'}}</span>
        </p>
      </li>
    </ul>
  </div>
</div>

