.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 15px;
    border-bottom: 1px solid #b7b8b9;
}

.team-member {
    &-status {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid #b7b8b9;
        color: #b7b8b9;        
    }
    &-status.online::before {
        content: '';
        width: 8px;
        height: 8px;
        margin-right: 5px;
        margin-top: -2px;
        border-radius: 50%;
        background: rgba(0, 128, 0, 0.68);
        border: 2px solid transparent;
        display: inline-block;
        vertical-align: middle;
    }
    &-status.offline::before {
        content: '';
        width: 8px;
        height: 8px;
        margin-right: 5px;
        margin-top: -2px;
        border-radius: 50%;
        background: transparent;
        border: 2px solid #b7b8b9;
        display: inline-block;
        vertical-align: middle;
    }
}

.info-block {
    padding: 35px 15px 20px;
    img {
        width: 100px;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 10px;
    }
    &-logo {
        margin-bottom: 10px;
    }
    &-text {
        color: #b7b8b9;
        &-name {
            color: rgba(0, 0, 0, 0.87);
            font-weight: bold;
        }
    }
}

.messages-block {
    overflow: auto;
    height: calc(100vh - 205px);
    position: relative;
    padding: 15px 0 0;
}

.message-block {
    &-date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
            flex-grow: 1;
            // width: 1px!important;
            border-bottom: 1px solid #adb9ca;
        }
        span {
            margin: 0 10px;
            color: #505050;
            font-weight: bold;            
        }
    }
    &-text-edited {
        opacity: .7;
        font-size: 12px;
    }
    &-message {
        &.edit {
            background: #ffeb3b52!important;
        }
        position: relative;
        &:hover .options-button {
            display: flex;
        }
        &:hover {
            background: rgba(185, 193, 200, 0.1);
        }
        &:hover &-date-hidden {
            visibility: visible;
        }
        padding: 5px 10px;
        display: flex;
        &-avatar-wrap {
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-avatar {
            width: 50px;
            height: 50px;
            border-radius: 3px;
            margin-right: 10px;
        }
        &-name {
            font-weight: bold;
            margin-right: 5px;
        }
        &-date {
            font-size: 11px;
            opacity: .7;
        }
        &-date-hidden {
            font-size: 11px;
            visibility: hidden;
        }
        &-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
    }
}

.message-input-block {
    height: 40px;
    width: calc(100% - 20px);
    margin: 10px auto 0;
    border: 2px solid #c1c1c2;
    border-radius: 3px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    input {
        background: transparent;
        border: none;
        outline: none;
        margin-left: 10px;
        width: 90%;
        height: 100%;
        font-size: 14px;
        &::-webkit-input-placeholder {
            color: #c1c1c2;
            font-size: 14px;
        }
    }
    mention-list {
        position: absolute;
        left: 40px!important;
        top: -175px!important;
    }
}

.subscriptions-block {
    display: inline-flex;
    justify-content: space-around;
    margin-right: 10px;
    color: #c1c1c2;
    font-size: 16px;
}

#mention-candidate {
    margin-right: 10px;
    cursor: pointer;
}

#mention-team-member {
    cursor: pointer;
}

.loader-wrap {
    position: absolute;
    background: rgba(255,255,255, .7);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9; 
}

.new-messages-count {
    position: absolute;
    color: #505050;
    background: white;
    border: 1px solid #505050;
    border-radius: 50%;
    bottom: 40px;
    right: 40px;
    width: 15px;
    height: 15px;
}

.typing-attention {
    margin-left: 20px;
    font-size: 12px;
    display: inline-block;
    color: #383838;
    font-weight: bold;
}

.options-button {
    position: absolute;
    right: 30px;
    top: -10px;
    align-items: center; 
    justify-content: space-around;
    border: 1px solid #b7b7b7;
    background: #ececec;
    border-radius: 4px;
    width: 25px;
    height: 20px;
    padding: 0 2px;
    display: none;
    cursor: pointer;
    span {
        margin-bottom: 10px;
    }
}

.options-menu {
    position: absolute;
    right: 40px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #b7b7b7;
    background: #ececec;
    top: -65px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.87);
    &-edit {
        cursor: pointer;
    }
    &-delete {
        cursor: pointer;
        color: red;
    }
    &.edit {
        display: flex!important;
    }
}

.message-block {
    &-edit {
        width: 100%;
        input {
            width: 100%;
            padding: 5px 10px;
            outline: none;
            border: none;
            border: 1px solid;
            border-radius: 3px;
            font-size: 14px;
            margin-bottom: 5px;
        }
        &-save {
            padding: 5px 10px;
            background: #00af00;
            border-radius: 3px;
            text-transform: uppercase;
            color: white;
            cursor: pointer;
        }
        &-cancel {
            padding: 5px 10px;
            background: white;
            border-radius: 3px;
            text-transform: uppercase;
            margin-right: 10px;
            cursor: pointer;
        }
    }
}