.clear-button {
  cursor: pointer;
  transition: .3s all ease-in-out;
  height: initial;
  width: initial;
  &:hover {
    transform: rotate(180deg);
  }
}

.notifications {
  &-wrap {
    background: #fff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    padding: 10px;
    // display: none;
    border: 1px solid #000;
    border-top: transparent;
  }
  &-title {
    background: #000;
    color: #fff;
    font-size: 13px;
    width: 100%;
    padding: 5px;
    text-align: center;
    position: relative;
    .clear-button {
      position: absolute;
      right: 10px;
      font-size: 1.5em;
      color: white;
    }
  }
}

.notifications-box {
  padding-left: 40px;
  padding-right: 15px;
  overflow: scroll; 
  overflow: auto;
  height: calc(100vh - 103px);
  &__title {
    text-align: center;
    margin: 20px 0;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-day {
      margin: 0 10px;
    }
  }
  &__hr {
    border-bottom: 1px dashed;
    flex-grow: 1;
  }
}

.notification-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 0;
  margin: 10px 0;
  border-bottom: 1px solid #F2F2F2;
  cursor: pointer;
  transition: all 1s ease-in-out;
  box-shadow: none;
  &:hover {
    
  }
  &__icon {
    width: 40px;
    img {
      width: 25px;
      height: 25px;
      margin-right: 15px;
    }
    .message-icon {
      color: #5bbcef;
    }
    .application-icon {
      color: #1f65a9;
      margin-top: 5px;
    }
    .referrals-icon {
      color: #e29f47;
    }
  }
  &__data-box {
    width: 290px;
  }
  &__data {
    color: #0727b9;
    font-size: 14px;
    font-weight: bold;
  }
  &__data-text {
    color: #414449;
    font-size: 13px;
    font-weight: bold;
    // font-style: italic;
    margin-top: 5px;
  }
  &__time {
    font-size: 11px;
    color: #0727b9;
    // margin-top: 5px;
    width: 51px;
  }
}

