$blue: #4372C4;
$dark-blue: #012060;
$warn: #FF5B5A;
$black: #000000;
$green: #C6E0B4;
$dark-green: #47d147;
$white: #FFFFFF;
$dark-grey: #C0C0C0;
$middle-grey: #d6d7d8;
$x-dark-grey: #666666;
$light-grey: #F2F2F2;
$dark-indigo-two: #081431;
$x-light-blue: #f2f6f9;
$nice-blue: #0c66b0;
$powder-blue: #b7d9f5;
$water-blue: #1081de;
$butterscotch: #ffaf41;
$slate: #3d445b;
$light-blue-grey-two: #dde2f5;
$tangerine: #ff9401;
$steel: #868d9f;
$pale-grey-three: #f4f6f9;
//$font-size-10: 0.625rem;
//$font-size-12: 0.75rem;
//$font-size-14: 0.875rem;
//$font-size-16: 1rem;
//$font-size-18: 1.25rem;
//$font-size-24: 1.5rem;
//$font-size-36: 2.25rem;
//$font-size-29: 2.375rem;
$font-size-10: 0.625rem;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-19: 1.1875rem;
$font-size-20: 1.25rem;
$font-size-21: 1.3125rem;
$font-size-22: 1.375rem;
$font-size-24: 1.5rem;
$font-size-28: 1.75rem;
$font-size-32: 2rem;
$font-size-36: 2.25rem;
$font-size-38: 2.375rem;
$default-padding: 20px;
$header-height: 55px;