<div *ngIf="notificationType === 'NoteMention'" 
  class="single-notification-wrap move" 
  id="single-notification-wrap" 
  (click)="close(); setQueryParams(notificationCandidateId, 'note'); setActiveStage(notificationNotePipelineStage)"   
  (mouseover)="hideShowNotification($event)" 
  (mouseout)="hideShowNotification($event)"
  [routerLink]="['/jobs', notificationContractId]">
  <div class="single-notification-image-wrap">
    <img class="single-notification-image" src="../../../assets/icons/notification-note.png" alt="">
  </div>
  <div class="single-notification-data">
    <p class="single-notification-data-title">Tagged on note</p>
    <p class="single-notification-data-text">You were tagged on a candidate note:<br><br></p>    
    <p class="single-notification-data-candidate">Candidate: {{notificationCandidateName}}</p>
    <p class="single-notification-data-text">{{notificationTitle}}</p>
  </div>
</div>

<div *ngIf="notificationType == 'ContractApply'" 
  class="single-notification-wrap move" 
  id="single-notification-wrap" 
  (mouseover)="hideShowNotification($event)" 
  (click)="close(); setActiveStage(-1)" 
  (mouseout)="hideShowNotification($event)"
  [routerLink]="['/jobs', notificationContractId]">
  <div class="single-notification-image-wrap">
    <img class="single-notification-image" src="../../../assets/icons/notification-applicant.png" alt=""> 
  </div>
  <div class="single-notification-data">
    <p class="single-notification-data-title">New applicant</p>
    <p class="single-notification-data-text">Congratulations! You have a new applicant for:<br><br></p>
    <p class="single-notification-data-text">{{notificationTitle}}</p>
  </div>
</div>

<div *ngIf="notificationType == 'ScoreMention'" 
(click)="close(); setQueryParams(notificationCandidateId, 'scoring'); setActiveStage(notificationScoringPipelineStage)" 
 class="single-notification-wrap move"  
 id="single-notification-wrap" 
 (mouseover)="hideShowNotification($event)" 
 (mouseout)="hideShowNotification($event)"
 [routerLink]="['/jobs', notificationContractId]">
  <div class="single-notification-image-wrap">
    <img class="single-notification-image" src="../../../assets/icons/notification-scoring.png" alt="">
  </div>
  <div class="single-notification-data">
    <p class="single-notification-data-title">Tagged on scoring</p>
    <p class="single-notification-data-text">You were tagged on a candidate score:<br><br></p>
    <p class="single-notification-data-candidate">Candidate: {{notificationCandidateName}}</p>
    <p class="single-notification-data-text">{{notificationTitle}}</p>
  </div>
</div>

<div *ngIf="notificationType == 'EmployeeReferral'" 
 (click)="close(); setActiveStage(5)" 
 class="single-notification-wrap move" 
 id="single-notification-wrap" 
 (mouseover)="hideShowNotification($event)" 
 (mouseout)="hideShowNotification($event)"
 [routerLink]="['/jobs', notificationContractId]">
  <div class="single-notification-image-wrap">
    <img  class="single-notification-image" src="../../../assets/icons/notification-referral.png" alt="">
  </div>
  <div class="single-notification-data">
    <p class="single-notification-data-title">New employee referral</p>
    <p class="single-notification-data-text">Congratulations! You have a new employee referral for: <br><br></p>
    <p class="single-notification-data-text">{{notificationTitle}}</p>
  </div>
</div>

<div *ngIf="notificationType == 'NewMessagePartner'" 
  [routerLink]="['/chat', notificationDialogId]"
  [queryParams]="[notificationMessageSender.firstName, notificationMessageSender.lastName, notificationMessageSender.avatarURL, notificationMessageSender.sessionStatus, notificationMessageSender.id ]"
  class="single-notification-wrap move message" 
  id="single-notification-wrap" 
  (mouseover)="hideShowNotification($event)" 
  (mouseout)="hideShowNotification($event)"
  (click)="close();">  
  <div class="single-notification-image-wrap">
    <img class="single-notification-image" src="../../../assets/icons/notification-message.png" alt="">
  </div>
  <div class="single-notification-data">
    <p class="single-notification-data-title">{{notificationMessageSender.firstName}} wrote:</p>
    <p class="single-notification-data-text message" [innerHTML]="decodeMessage(notificationMessage)"></p>
  </div>
</div>
