<div class="single-notification-wrap move" id="single-notification-wrap" (mouseover)="hideShowNotification($event)" (mouseout)="hideShowNotification($event)">
    <div class="single-notification-image-wrap">
      <img *ngIf="notificationType == 'note'" class="single-notification-image" src="../../../assets/icons/notification-note.png" alt="">
      <img *ngIf="notificationType == 'message'" class="single-notification-image" src="../../../assets/icons/notification-message.png" alt="">
      <img *ngIf="notificationType == 'scoring'" class="single-notification-image" src="../../../assets/icons/notification-scoring.png" alt="">
      <img *ngIf="notificationType == 'referral'" class="single-notification-image" src="../../../assets/icons/notification-referral.png" alt="">
      <img *ngIf="notificationType == 'applicant'" class="single-notification-image" src="../../../assets/icons/notification-applicant.png" alt=""> 
  </div>
  <div class="single-notification-data">
    <p  *ngIf="notificationType == 'note'" class="single-notification-data-title">Tagged on note</p>
    <p class="single-notification-data-title">{{notificationTitle}}</p>
    <p class="single-notification-data-title">{{notificationTitle}}</p>
    <p class="single-notification-data-title">{{notificationTitle}}</p>
    <p class="single-notification-data-title">{{notificationTitle}}</p>
    
    <p class="single-notification-data-text">{{notificationText}}</p>
    <p *ngIf="notificationCandidate !== ''" class="single-notification-data-candidate">{{notificationCandidate}}</p>
    <p class="single-notification-data-job">{{notificationJob}}</p>
  </div>
</div>
