<div class="reject-modal-overlay">
  <div class="reject-modal">
      <div class="reject-modal__title">
          <span class="bold">Select a rejection reason. </span>
          <span>Keep your data up to date & gain insight later</span>
      </div>
      <div class="reject-modal-content">
          <div class="candidate-wrap">
            <div class="reject-modal-content__avatar-wrap">
                <img class="avatar" [src]="candidate.get('avatarURL')" alt="profile pic">
            </div>
            <div class="reject-modal-content__candidate-name-position">
                <div class="reject-modal-content__candidate-name">
                    {{candidate.get('firstName')}} {{candidate.get('lastName')}}
                </div>
                <div class="reject-modal-content__candidate-position">
                    {{candidate.get('headline')}}
                </div>
                <div class="reject-modal-content__company-name">
                    <span class="company-title" *ngFor="let companyName of candidate.get('companyNames')">
                        {{companyName}}
                    </span>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>