@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.reject-modal-overlay {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    z-index: 999;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    * {
        transition: .3s all ease-in-out;
    }
}   

.reject-modal {
    background: #fff;
    border-radius: 3px;
    padding: 10px 15px;
    z-index: 999999;
    position: relative;
    min-width: 600px;
    &.opened {
        min-height: 340px;
    }
    &-content {
        display: flex;
        align-items: stretch;
    }
    
    &__title {
        background: #595959;
        padding: 10px 15px;
        display: flex;
        justify-content: center;
        border-radius: 3px;
        color: #fff;
        font-size: 16px;
        margin-bottom: 15px;
        .bold {
            font-weight: bold;
        }
        span {
            font-weight: lighter;
        }
    }
    
    &-content__candidate-name-position {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: #000;
        margin-left: 20px;    
        div {
            margin-bottom: 5px;
        }
        div:last-child {
            margin-bottom: 0;
        }
    }
    &-content__avatar-wrap {
        img {
            border-radius: 50%;
        }
    }    
    &-content__candidate-name {
        font-size: 15px;
    }
    &-content__candidate-position {
        font-size: 13px;
        word-break: break-word;
        text-align: center;
    }
    &-content__company-name {
        font-size: 13px;
        opacity: .7;
    }
    &-content__select-reason {
        position: relative;
        width: 50%;
        background: #595959;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
        &:hover {
            background: #777777;            
        }
        &.opened {
            background: #777777;
            border-radius: 0 3px 0 0;
        }
        .icon {
            transform: rotate(90deg);
        }
        .icon.opened {
            transform: rotate(-90deg);
        }
        span {
            cursor: pointer;
        }
    }
    &-buttons { 
        &:after {
            clear: both;
            content: '';
            display: block;
            margin-top: 20px;
        }  
        &__add-note,
        &__clear-note,
        &__reject-candidate {
            border: none;
            border-radius: 3px;
            padding: 5px 10px;
            font-size: 14px;
            color: #fff;  
            cursor: pointer;          
        } 
        &__add-note {
            background: #009638;
            float: left;
        }
        &__clear-note {
            background: red;
            float: left;
        }
        &__reject-candidate {
            background: #4372C4;
            float: right;
        }
    }
}

.rejection-reason-list {
    position: absolute;
    list-style: none;
    top: 110px;
    background: #777777;
    width: 100%;
    border-radius: 0 0 3px 3px;
    list-style: none;
    li {
        padding: 5px 8px;
        cursor: pointer;
        transition: .3s all ease-in-out;
    }
    li:hover {
        background: #595959;
    }
}

.rejection-note {
    width: 100%;
    border: 1px solid #595959;
    padding: 10px;
    resize: none;
    margin-top: 20px;
    border-radius: 3px;
}

.reject-modal-buttons {
    margin-top: 20px;
}

.candidate-wrap {
    display: flex;
    align-items: center;
    border: 1px solid #595959;
    border-radius: 3px 0 0 3px;
    width: 50%;
    height: 110px;
    padding: 5px;
    &.opened {
        border: 1px solid #777777;
    }
}

