<div class="test-inner">

    <!--<star-rating [(ngModel)]="stars" [disabled]="true" size="s"></star-rating><br> Test component stars: {{stars}}<br>-->
    <!--<br><br>-->
    <!--<star-rating [(ngModel)]="stars2" size="m"></star-rating><br> Test component stars2: {{stars2}}<br>-->

    <!--<br><br>-->
    <!--<star-rating [(ngModel)]="stars3" size="l"></star-rating><br> Test component stars3: {{stars3}}<br>-->

    <!--<br><br>-->
    <!--<star-rating [(ngModel)]="stars4" size="xl"></star-rating><br> Test component stars4: {{stars4}}<br>-->

    <!--<br><br>-->
    <!--<star-rating [(ngModel)]="stars5" [numberOfStars]="8" size="xl"></star-rating><br> Test component stars5: {{stars5}}<br>-->

    <!--<hr/>-->
    <!--<div alert="aaa"></div>-->

    <!--<hr/>-->


    <!--<hr>-->
    <!--<br>-->

    <!-- <app-test-skills></app-test-skills> -->
    <!--<app-gmail></app-gmail>-->
</div>
