@import '../../../styles/buttons';
@import './../../../styles/mixins';
$dashed-border: 1px dashed #ccc;
.company-settings-title {
    min-height: 110px;
    padding: 20px;
    border-bottom: $dashed-border;
    color: white;
}

.carrers-website-page {
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
}

.carrers-website-page-status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(22, 163, 22);
    margin-right: 12px;
    
}

.departments-offices-wrapper{
    display: flex;
    justify-content: space-between;
}
.carrers-departments {
    width: 60%;
    padding: 13px;
    background-color: #ddd;
    line-height: 3;
}

.carrers-departments-form__header {
    display: flex;
    justify-content: space-between;
}

.carrers-departments-form__body {
    display: flex;
    justify-content: space-between;
}
.carrers-departments-form__body span:first-child {
    justify-content: left;
}
.carrers-departments-form__body__department {
    display: flex;
    flex-direction: column;
}

.carrers-departments-form__body__edit-department-input {
    width: 80%;
    margin-top: 9px;
    margin-bottom: 5px;
    padding: 3px 12px;
}

.carrers-departments-form__new-department__new-department-input {
    width: 35%;
    margin-top: 9px;
    margin-bottom: 5px;
    padding: 3px 12px;
}

.carrers-departments-form__body__subdepartment-input {
    margin-left: 50px;
    width: 63%;
    margin-top: 9px;
    margin-bottom: 5px;
    padding: 3px 12px;
}

.carrers-departments-form__body_options{
    text-align: right;
    margin: 0px 4px;
    cursor: pointer;
}

.careers-offices {
    width: 30%;
    padding: 13px;
    background-color: #ddd;
    line-height: 3;
    margin-right: 30px;
}
.carrers-offices-form__header {
    display: flex;
    justify-content: space-between;
}

.carrers-offices-form__body {
    display: flex;
    justify-content: space-between;
}
.carrers-offices-form__body span:first-child {
    justify-content: left;
}
.carrers-offices-form__body__office {
    display: flex;
    flex-direction: column;
}

.carrers-offices-form__body__edit-office-input {
    width: 80%;
    margin-top: 9px;
    margin-bottom: 5px;
    padding: 3px 12px;
}

.carrers-offices-form__new-office__new-office-input {
    width: 35%;
    margin-top: 9px;
    margin-bottom: 5px;
    padding: 3px 12px;
}

.carrers-offices-form__body_options{
    text-align: right;
    margin: 0px 4px;
    cursor: pointer;
}

.table-wrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.pipeline-stage-table_edit-stage-percentage-box{
    display: flex;
    align-items: center;
    text-align: center;
}
.pipeline-stage-table_edit-stage-percentage-box input{
    margin-right: 5px;
    width:45px;
    text-align: center;
    padding: 3px 5px; 
}

.pipeline-stage-table_set-value {
    display: flex;
    flex-direction: column;
}

.set-value {
    padding: 2px;
    margin: 1px;
    cursor: pointer;
    background-color: #ddd;
    font-weight: bold;
    text-align: center;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.pipeline-stage-table_set-description {
    width:336px;
}
.pipeline-stage-table_set-description input {
    padding: 3px 5px;
    width:100%;
}

.pipeline-stage-table_add-likelihood-stage > td {
    text-align: center;
}

.add-likelihood-stage_new-value{
    width:45px;
    text-align: center;
    padding: 3px 5px;
}

.add-likelihood-stage_new-description {
    padding: 3px 5px;
    width:100%;
}

.pipeline-stage-table_func-buttons {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 10px;
}

.pipeline-stage-table_func-buttons button {
    margin-bottom: 10px;
}

.pipeline-stage-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.pipeline-stage-table td,
.pipeline-stage-table th {
    border: 1px solid #dddddd;
    padding: 7px;
}

.pipeline-stage-table tr:nth-child(odd) {
    background-color: #bec1c7;
}

.pipeline-stage-table tr:nth-child(even) {
    background-color: #e8ebf1;
}

.pipeline-stage-table th {
    background-color: #6a82ad;
    color: white;
    text-align: left;
}

.stage-percentage {
    text-align: center;
}

.stage-description {
    text-align: left;
}

input {
    width: 100%;
    border: 1px solid #eeeeee;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: left;
    padding: 7px 12px;
    font-size: 14px;
}

.top-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file-input {
    margin-top: 25px;
    @include displayFlex();
    @include flex-direction(row);
    align-items: center;
    border: 1px;
    margin-bottom: 20px;
    margin-left: 20px;
    .logo-pic {
        width: 300px;
        cursor: pointer;
    }
    #logo {
        display: none;
    }
    .upload {
        display: inline-block;
        background: #eeeeee;
        font-size: 14px;
        color: rgb(0, 0, 0);
        padding: 8px 12px;
        cursor: pointer;
    }
    .upload:hover {
        background: #d4d4d4;
    }
    .upload-name {
        padding: 7px 12px;
        border: 1px solid #eeeeee;
        margin-left: -5px;
    }
}

.company-name {
    @include displayFlex();
    @include flex-direction(column);
    padding: 20px;
    width: 100%;
    .headerrrz {
        @include displayFlex();
        @include flex-direction(row);
        width: 100%;
        h3 {
            width: 400px;
            margin-bottom: 10px;
        }
        input {
            width: 350px;
            margin-right: 80px;
        }
    }
    .passwordChange {
        @include displayFlex();
        @include flex-direction(row);
        .pwdInput {
            width: 350px;
            margin-right: 15px;
            margin-bottom: 10px;
        }
        .changeButton {
            button {
                display: inline-block;
                background: #eeeeee;
                font-size: 14px;
                color: rgb(0, 0, 0);
                padding: 8px 12px;
                cursor: pointer;
                border: none;
            }
            button:hover {
                background: #d4d4d4;
            }
        }
    }
    .style_block {
        @include displayFlex();
        @include flex-direction(row);
        width: 100%;
        .page_style {
            @include displayFlex();
            @include flex-direction(row);
            width: 350px;
            font-size: 1rem;
            padding: 15px;
            font-size: $font-size-12;
            mat-radio-button {
                margin-left: 5px;
            }
        }
        .view_img {
            width: 220px;
            margin-left: 20px;
            img {
                width: 100%;
                height: inherit;
            }
        }
    }
    .erp_page_greetings {
        @include displayFlex();
        @include flex-direction(column);
        margin-bottom: 15px;
    }
}

.title-text {
    margin-left: 20px;
}

.textpannel {
    margin-top: 3px;
    margin-left: 20px;
    margin-right: 40px;
    border: 1px solid #eeeeee;
    width: 58vw;
    height: 200px;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
}

.page-end {
    margin-bottom: 20px;
}

.save-button {
    margin-left: 20px;
    width: 15%;
    margin-bottom: 20px;
}

.company-text {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.save-changes {
    position: -webkit-sticky;
    position: sticky;
    top: 25px;
    font-size: 18px;
    height: 50px;
}

.main-wrap {
    margin-top: 50px;
    min-height: 100%;
}

.grey {
    background-color: rgb(202, 202, 202);
}

.grey:hover {
    background-color: rgb(202, 202, 202) !important;
}

.nowrap {
    white-space: nowrap;
}

.title-line {
    padding: 15px 0px;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 15px;
    background-color: rgb(238, 238, 238);
    color: rgb(43, 43, 43);
    font-weight: bold;
    font-size: 1.2rem;
}

.right-wrap-logo {
    margin-left: 35px;
    @include displayFlex();
    @include flex-direction(column);
    .remove_logo {
        button {
            display: inline-block;
            background: #eeeeee;
            font-size: 14px;
            color: rgb(0, 0, 0);
            padding: 8px 12px;
            cursor: pointer;
            border: none;
            outline: none;
            &:hover {
                background: #a01515;
            }
        }
        margin-top: 10px;
    }
}

.logo-title {
    margin-bottom: 3px;
    font-size: 20px;
    margin-left: 15px;
}

.first {
    margin-top: -80px;
    width: 15%;
    display: block;
    position: sticky;
    top: 20px; // margin-top: -90px;
    margin-bottom: 20px;
    margin-left: 75%;
}

.logo-input-wrap {
    margin-top: 10px;
}

.title-line2 {
    margin-top: 30px !important;
}

.textpannel-referal {
    margin-left: 0px !important;
}

.go-to {
    display: inline-block;
    background: #eeeeee;
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    margin-bottom: 30px;
    &:hover {
        background: #d4d4d4;
    }
}

.go-to:hover {
    background: #d4d4d4;
}

.feedback_triangle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 80px solid #007ab6;
    border-left: 80px solid transparent;
    z-index: 999999;
    cursor: pointer;
    .feedback_text {
        @include transform-rotate(-45deg);
        position: absolute;
        right: -1px;
        top: 38px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        opacity: 1;
        cursor: pointer;
    }
}

.triangle-wrap {
    position: relative;
}

.speaker {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 20px;
    transform: rotate(-45deg);
}

.classic-img {
    border: 1px solid black;
}

.access-check-div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.relative {
    position: relative !important;
}

.job-offer-stages {
    @include displayFlex;
    @include flex-direction(row);
    @include flex-align-items(stretch);
    text-align: center;
    background-color: #F2F2F2;
    margin-bottom: 10px;
    .job-stage {
      @include flex(1, 1, 120px);
      cursor: pointer;
      .job-stage-inner {
        height: 100%;
        border: 1px solid rgb(201, 201, 201);
        //border-radius: 2px;
        padding: 15px 0;
        font-size: 15px;
        background-color: #F2F2F2;
        position: relative;
        .delete-stage {
            position: absolute;
            top: 3px;
            right: 7px;
            z-index: 99;
            font-size: 19px;
            height: 20px;
            width: 12px;
        }
      }
      
      .job-stage-inner:hover {
        cursor: pointer;
        background-color: rgb(238, 236, 236) !important;
      }
    }
    .job-stage.add-new-stage {
        .job-stage-inner {
            padding: 0!important;
            display: flex;
            align-items: center;
            background: #21b721;
            color: #fafafa;
            &:hover {
                color: #000;
            }
        }
    }
  }

.dndDragging {
    cursor: move!important;
}

.delete-stage {
    font-size: 50px;
    height: 50px;
    width: 50px;
    margin-bottom: 50px;
}

.pipeline-title {
    font-size: 24px;
    margin-bottom: 40px;
    padding-right: 15px;
}

.standart-note {
    margin-bottom: 40px;
}


.create-new-workflow {
    background: #007ab6;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 10px;
    transition: .3s all ease-in-out;
    &:hover {
        opacity: .7;
    }
}