.access-level-inner {
  padding: 20px;
  min-height: 100vh;
  .back-button-wrap {
    display: block;
    padding: 10px 0;
    margin-bottom: 10px;
    .back-button {
      background-color: #F2F2F2;
      width: auto;
      color: #000;
      padding: 5px;
      text-decoration: none;
      font-size: 0.7em;
      &:before {
        content: 'keyboard_arrow_left';
        vertical-align: middle;
        font-family: 'Material Icons';
      }
    }
  }

  .access-level-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .access-level-names {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      .al-name {
        margin-right: 30px;
        font-size: 1.4em;

      }
      .al-label {
        font-size: 0.9em;
        display: inline-block;
        border: 1px solid #000;
        padding: 3px 15px;
        text-align: center;
        width: 105px;

      }
    }
    .access-level-description {
      color: #807F80;
      margin: 15px 0;
    }
  }

  .members-section {
    margin-top: 30px;
    h3 {
      font-weight: 100;
      font-size: 1.5em;
      .members-count {
        font-size: 0.55em;
        padding: 3px 9px;
        border-radius: 45%;
        background-color: #CCCCCC;
        color: #666666;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
      }
    }

    table {
      margin-top: 25px;
      border: none;
      font-size: 1em;
      th {
        text-align: left;
        padding-bottom: 10px;
        &:not(:last-child) {
          padding-right: 2vw;
        }
      }
      tr {
        td {
          width: auto;
          padding: 10px 0;
          &:not(:last-child) {
            padding-right: 2vw;
          }

          &.name {
            color: #012060;
          }
          .edit-access {
            color: #012060;
            font-size: 0.9em;
            cursor: pointer;
          }
        }
      }
    }
  }
}