<div class="reject-modal-overlay" >
  <div class="reject-modal" 
        [ngClass]="{'opened': rejectionList === true }" 
        (clickOutside)="close()" 
        [exclude]="'.reject-candidate-button, .rejection-reason-item'" 
        [delayClickOutsideInit]="true"
        *ngIf="response === 'pending'">
      <div class="reject-modal__title">
          <span class="bold">Select withdrawn reason</span>
      </div>
      <div class="reject-modal-content">
          <div class="candidate-wrap" [ngClass]="{'opened': rejectionList === true}">
            <div class="reject-modal-content__avatar-wrap">
                <img *ngIf="candidate.get('avatarURL') !== undefined" class="avatar" [src]="candidate.get('avatarURL')" alt="profile pic">
                <img style="width: 50px;" *ngIf="candidate.get('avatarURL') === undefined" class="avatar" src="../../../../../assets/img/default-userpic.png" alt="profile pic">                
            </div>
            <div class="reject-modal-content__candidate-name-position">
                <div class="reject-modal-content__candidate-name">
                    {{candidate.get('firstName')}} {{candidate.get('lastName')}}
                </div>
                <div class="reject-modal-content__candidate-position">
                    {{candidate.get('headline')}}
                </div>
                <div class="reject-modal-content__company-name">
                    <span class="company-title" *ngFor="let companyName of candidate.get('companyNames')">
                        {{companyName}}
                    </span>
                </div>
            </div>
          </div>
          <div class="reject-modal-content__select-reason" (click)="rejectionList = !rejectionList; $event.stopImmediatePropagation();" [ngClass]="{'opened': rejectionList === true}">
              <div class="reject-modal-content__select-reason--box">
                  <span *ngIf="rejectionReason === null">
                      Select withdrawn reason
                    </span>
                  <span *ngIf="rejectionReason !== null">
                    Withdrawn reason: {{rejectionReason.get('reason')}}
                    </span>
              </div>
              <div *ngIf="rejectionList" (clickOutside)="rejectionList = false" [delayClickOutsideInit]="true" class="rejection-reason-list">
                  <ul>
                      <li *ngFor="let reason of rejectionReasons" class="rejection-reason-item" (click)="setRejectionReason(reason); $event.stopImmediatePropagation();">{{reason.get('reason')}}</li>
                  </ul>
              </div>
          </div>
      </div>
        <textarea class="rejection-note" 
            *ngIf="rejectionNoteOpened"  #rejectionNote name="rejection-note" id="rejection-note" cols="30" rows="10" placeholder="Type here a note"></textarea>
      <div class="reject-modal-buttons">
          <button class="reject-modal-buttons__add-note" 
                *ngIf="!rejectionNoteOpened" 
                (click)="rejectionNoteOpened = !rejectionNoteOpened; $event.stopImmediatePropagation();">
                Add Note
          </button>
          <button class="reject-modal-buttons__clear-note" 
                *ngIf="rejectionNoteOpened" 
                (click)="rejectionNoteOpened = !rejectionNoteOpened; clearNote(); $event.stopImmediatePropagation();">
                Clear Note
            </button>          
          <button class="reject-modal-buttons__reject-candidate" (click)="rejectCandidate()">Move to withdrawn</button>
      </div>      
  </div>
  <div class="reject-modal success" *ngIf="response === 'success'">
    Congratulations! <br> Candidate was successfully rejected! 
  </div>
</div>