@import '../../../styles/variables';
@import '../../../styles/inputs';
@import '../../../styles/mixins';
@import '../../../styles/typography';
textarea {
    border: 0;
    background-color: white;
}
.main_block {
    @include displayFlex();
    @include flex-direction(column);
    width: 100%;
    min-height: 500px;
    background-color: white;
    padding: 15px;
    .header_block {
        position: relative;
        width: 100%;
        @include displayFlex();
        @include flex-direction(row);
        align-items: center;
        justify-content: center;
        button {
            position: absolute;
            left: 0;
            text-decoration: none;
            background-color: grey;
            color: black;
            border: 0;
            border-radius: 5px;
            padding: 7px;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
        }
        h2 {
            text-align: center;
        }
    }
    .creation_button {
        min-height: 50px;
        position: relative;
        right: 0;
        width: 100%;
        button {
            position: absolute;
            right: 0;
            bottom: 0;
            text-decoration: none;
            background-color: grey;
            color: black;
            border: 0;
            border-radius: 5px;
            padding: 7px;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
        }
    }
    .title_block {
        margin-top: 60px;
        width: 100%;
        @include displayFlex();
        @include flex-direction(row);
        min-height: 40px;
        textarea {
            height: 35px;
            width: 70%;
            font-size: $font-size-18;
            padding: 5px;
            resize: none;
            overflow: hidden;
            &:disabled {
                color: black;
                border: 2px solid white;
            }
            &:focus {
                border: 2px solid rgb(42, 254, 0);
            }
        }
        .active {
            border: 2px solid rgb(92, 92, 92);
        }
    }
    .type_block {
        margin-top: 15px;
        @include displayFlex();
        width: 100%;
        @include flex-direction(row);
        min-height: 50px;
        .chose_type {
            width: 20%;
        }
        button {
            &:disabled {
                color: black;
            }
        }
    }
    .descr_block {
        margin-top: 15px;
        @include displayFlex();
        width: 100%;
        @include flex-direction(row);
        height: 130px;
        textarea {
            justify-content: unset;
            width: 70%;            
            font-size: $font-size-18;
            padding: 5px;
            resize: none;
            overflow: hidden;
            &:disabled {
                color: black;
                border: 2px solid white;
            }
            &:focus {
                border: 2px solid rgb(42, 254, 0);
            }
        }
        .active {
            border: 2px solid rgb(92, 92, 92);
        }
    }
    .el_block {
        margin-top: 15px;
        @include displayFlex();
        width: 100%;
        @include flex-direction(row);
        height: 140px;
        textarea {
            justify-content: unset;
            width: 70%;
            font-size: $font-size-18;
            padding: 5px;
            resize: none;
            overflow: hidden;
            &:disabled {
                color: black;
                border: 2px solid white;
            }
            &:focus {
                border: 2px solid rgb(42, 254, 0);
            }
        }
        .active {
            border: 2px solid rgb(92, 92, 92);
        }
    }
}
.option_name {
    width: 15%;
    @include displayFlex();
    @include flex-direction(column);
}
p {
    font-size: $font-size-10;
}