<div class="sn-wrap">
  <div class="sn-choose">
    <div class="sn-header">
      Share job on
    </div>
    <div class="sn-icons-wrap">

      <a #linkedinButton (click)="shareWithLinkedin()" target="_blank" class="sn-icon linkedin"><img src="../../../assets/sn-icons/linkedin.svg" /></a>
      <a (click)="shareWithFacebook()" class="sn-icon facebook"><img src="../../../assets/sn-icons/facebook.svg" /></a>
      <a #twitterButton (click)="shareWithTwitter()" class="sn-icon twitter"><img src="../../../assets/sn-icons/twitter.svg" /></a>
      <!-- <div (click)="shareWithTwitter()" class="sn-icon twitter"><a #twitterButton ><img src="../../../assets/sn-icons/twitter.svg" /></a></div> -->
    </div>
  </div>
</div>

<!--   <div class="sn-linkedin-form hidden">
    <form [formGroup]="shareMessage" (ngSubmit)="shareWithLinkedin()">
      <div class="formGroup">
        <input type="text" formControlName="title" />
      </div>
      <div class="formGroup">
        <textarea formControlName="content"></textarea>
      </div>
      <div class="formGroup">
        <textarea formControlName="comment"></textarea>
      </div>
      <div class="formGroup">
        <button type="submit">Share</button>
      </div>
    </form>
  </div>
</div> -->