<!-- <section *ngIf="currentUser && isFirst > 0 && currentUser.get('Client_Pointer')" 
         class="login-page-content"> -->
<section *ngIf="currentUser && isFirst > 0" 
         class="login-page-content">

    <div class="top-block">
        <div class="logo-name-container">
            <img class="egret-logo" src="../../assets/img/egret-logo-button.png" />
            <!-- <div class="swipein-header"><span class="blue">Swipe</span><span class="black">In</span></div>
    <div class="swipein-description">Discover and engagewith top tech & digital talent in less than 48 hours</div> -->
            <div *ngIf="currentUser" class="greeting">Welcome onboard, {{currentUser.firstName}}!</div>
        </div>
        <div class="days-left" *ngIf="onTrial;else planType">
            <div class="days-left-labels">
                <div class="trial-label">Trial Account</div>
                <!-- <a class="buy-button" >Buy Now</a> -->
                <a class="buy-button" [routerLink]="['/', 'administration', 'subscriptions']">Buy Now</a>
            </div>
            <div class="days-left-indicator-wrap">
                <mat-progress-spinner class="days-left-indicator" 
                                      mode="determinate" 
                                      color="primary" 
                                      [strokeWidth]="6"
                                      [value]="indicatorValue">
                </mat-progress-spinner>
            </div>
            <div class="days-left-label">
                <div class="days-left-value">
                    {{trialDaysLeft}}
                </div>
                Days Left
            </div>
            <div class="expires-on-label">
                Expires {{expiresOn | date:'d.M.y'}}
            </div>
        </div>

        <ng-template #planType>
            <div class="plan-name">
                {{currentPlan}}
            </div>
        </ng-template>
    </div>

    <div class="chart-wrap">
        <app-graphics></app-graphics>
    </div>

    <jobs-page></jobs-page>
</section>
<!-- <section *ngIf="currentUser && (!currentUser.get('Client_Pointer') || isFirst == 0)" 
         class="mock"> -->
<section *ngIf="currentUser && isFirst === 0" 
         class="mock">
    <div class="main_container_for_mock">
        <div class="middle_img">
            <img src="./../../assets/dashboard-mock/middle-mock.png" alt="">
        </div>
        <div class="welcome-onboard-lau">
            Welcome onboard, {{ currentUser.get('firstName') }}!
        </div>
        <div class="unlock-your-dashboar">
            Unlock your company dashboard by posting your first job
        </div>
        <button mat-raised-button class="blue-button-hover" [routerLink]="['/post-job']">Post a job</button>
        <div class="bottom_image">
            <img src="./../../assets/dashboard-mock/back_chart.png" alt="">
        </div>
    </div>
</section>
<div class="triangle-wrap">
    <!-- <div *ngIf="currentUser && currentUser.get('Client_Pointer') && isFirst !== 0" 
         class="feedback_triangle" 
         (click)="feedbackCreation()"> -->
    <div *ngIf="currentUser && isFirst !== 0" 
         class="feedback_triangle" 
         (click)="feedbackCreation()">
        <div class="feedback_text">
            FeedBack+
        </div>
        <img class="speaker" src="../../../assets/icons/speaker.png">
    </div>
</div>