<div class="tab-inner">
  <a class="arrow left invisible"><mat-icon>keyboard_arrow_left</mat-icon></a>
  <div class="content-wrap">
    <h3 class="header">Reach and Manage Candidates</h3>
    Maximize the reach of your jobs by posting to leading job boards, using social media shares and unlocking the potential of employee referrals.
    Easily manage candidate tracking and communications all the way from start to hire
  </div>
  <div class="image-wrap">
    <img src="../../../../assets/img/pre-login/tabs/reach-and-manage.png" />
  </div>
  <a class="arrow right" [routerLink]="['/', 'login', {outlets: {'login-slider': ['hire']}}]" skipLocationChange><mat-icon>keyboard_arrow_right</mat-icon></a>
</div>