/* You can add global styles to this file, and also import other style files */

@import './theme.scss';
@import "../node_modules/nouislider/distribute/nouislider.min.css";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import './styles/variables';
@import './styles/mixins';

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: $font-size-14;
    font-weight: 300;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: normal;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
    cursor: pointer;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #868e96;
    background-color: transparent;
}

// Slider styles (overwrite)
.ng2-nouislider {
    // margin-bottom: 1.8rem !important;
    .noUi-target.noUi-horizontal {
        height: 4px;
        border: none;
        background-color: #22A4A5;
        border-radius: 4px;
        .noUi-base {
            background-color: #22A4A5;
            border-radius: 4px;
            .noUi-origin .noUi-handle {
                width: 26px;
                height: 26px;
                margin-top: -5px;
                border: none;
                background-color: rgba(34, 164, 165, 0.7);
                box-shadow: none;
                border-radius: 50%;
                &::before {
                    display: none;
                }
                &::after {
                    content: " ";
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background-color: #22A4A5;
                    position: relative;
                    top: 4px;
                    left: 8px;
                    border-radius: 50%;
                }
                .noUi-tooltip {
                    bottom: 0;
                    top: 100%;
                    background-color: transparent;
                    border: none;
                    font-size: 9px;
                }
            }
        }
    }
}

@media print {
    @page {
        size: A4;
        margin: 5mm;
    }
}

app-chat .dropdown-menu {
    top: -250px;
}

.job-link {
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.hidden {
    display: none;
}

// NEW THEME STYLES START


.new {
    font-family: 'Roboto Condensed', sans-serif!important;
}

.new header {
    background: #FAFAFA!important;
    padding: 5px 0;
    border-bottom:none;
}

.new header .logo {
    border: 0.5px solid #E0E0E0;
    background: #EEEEEE;
    padding: 0 15px;
    border-radius: 0px;
}

.new .cartamount {
    color: #616161!important;
    border-left: 1px solid #94a4b5!important;
}

.new .settings-icon {
    color: #616161!important;
}

.new header .buttons-wrap .profile-icons-wrap .notifications-icon {
    color: #616161!important;
    margin-top: -2px!important;
    margin-left: -6px!important;
}

.new header .buttons-wrap .profile-icons-wrap .shopping-cart-icon {
    color: #616161!important;
}

.new header .buttons-wrap .profile-icons-wrap .profile-span .user-name {
    cursor: pointer;
    color: #616161!important;
    font-family: 'Roboto Condensed', sans-serif!important;
    margin-left: 10px!important;
    margin-right: 20px!important;
}

.new header .buttons-wrap .profile-icons-wrap .notifications-span-count {
    background: #E64A19!important;
    top: 8px!important;
}

.new header .buttons-wrap .sign-out-btn {
    background-color: #263238!important;
    &:hover {
        background: #007ab6!important;
    }
}

.new .login-page-content .top-block .logo-name-container {
    display: none!important;
}

.new .main-nav .sidenav {
    background: none!important;
    background-color: #616161!important;
}

.new .main-nav .sidenav .sidenav-toggle {
    background: none!important;    
    background-color: #616161!important;
}

.new .checkbox:checked + .pin__track {
    background: #B2EBF2!important;
}

.new .checkbox:checked + .pin__track .pin {
    background: #fafafa!important;
}

.new .checkbox:checked + .pin__track .pin__component--top {
    background: #00ACC1!important;
}

.new  .pin__component--top:before {
    border-bottom: 2px solid #fff!important;
}

.new .checkbox:checked + .pin__component--top:before {
    border-bottom: 2px solid #00ACC1!important;
}

.new .checkbox:checked + .pin__track .pin__component--top:after {
    border-top: 2px solid #00ACC1!important;
}

.checkbox:checked + .pin__track .pin__component--bottom {
    border-top: 6px solid #00acc1!important;
}

.new .pin__track {
    background: #0097A7!important;
}

.new .pin {
    background: #00838F!important;
}

.new .pin__component--top {
    background: #fff!important;
}

.new .pin__component--top:before {
    border-bottom: 2px solid #4dadc2 !important;
}

.new .pin__component--top:after {
    border-top: 2px solid #fff!important;
}

.new .main-nav .sidenav .sidenav-content-inner .side-nav ul span li {
    color: #ECEFF1!important;
    border-bottom: 2px dotted #94a4b5 !important;
    transition: .1s all ease-in-out!important;
    // font-family: 'Roboto Condensed', sans-serif!important;
    letter-spacing: 0.4px!important;
}

.new .main-nav .sidenav .sidenav-content-inner .team-section .team-section-header,
.new .main-nav .sidenav .sidenav-content-inner .team-members .team-member,
.new .main-nav .sidenav .sidenav-content-inner .side-nav .invite-button {
    color: #ECEFF1!important;
}

.new .main-nav .sidenav .sidenav-content-inner .team-members .team-member-status.offline {
    border: 2px solid #ECEFF1!important;
}

.new .main-nav .sidenav .sidenav-content-inner .team-members .team-member-status.online {
    background: #43A047!important;
}

.new .main-nav .sidenav .sidenav-content-inner .side-nav .func-buttons,
.new .main-nav .sidenav .sidenav-content-inner .side-nav .invite-button {
    border-bottom: 2px dotted #94a4b5 !important;
    transition: .1s all ease-in-out!important;
    font-family: 'Roboto Condensed', sans-serif!important;
    letter-spacing: 0.4px!important;
}

.new .main-nav .sidenav .sidenav-content-inner .side-nav .func-buttons:hover,
.new .main-nav .sidenav .sidenav-content-inner .side-nav ul span li:hover,
.new .main-nav .sidenav .sidenav-content-inner .side-nav .invite-button:hover {
    border-bottom: 2px dotted transparent!important;
}

.new .main-nav .sidenav .sidenav-toggle mat-icon {
    color: #ECEFF1!important;
}

.new .main-content {
    background-color: #CFD8DC!important;
}

.new .timeline-day-item {
    min-height: 70px!important;
    margin-bottom: 60px!important;
    background: #FAFAFA !important;
    border:none!important;
    border-radius: 0!important;
    transition: .3s all ease-in-out!important;
    &:hover {
        opacity: .7!important;
    }
}

.new .timeline-day-items-wrap {
    padding-top: 115px!important;
}

.new .timeline-day-item-image img {
    border-radius: 50%!important;
}

.new .timeline-day-item-image {
    margin-top: -75px!important;
    margin-left: -38px!important;
}

.new .timeline-day-date {
    border: none!important;
    background: #FAFAFA !important;
    width: 90px!important;
    height: 90px!important;
}

.new .timeline-day-date-stripe {
    background: #fafafa!important;
}

.new .main-content .header {
    border-bottom: 1px solid #adb9ca
}

.new .team-member-status {
    border-right: 1px solid #455A64!important;
    color: #455A64!important;
}

.new .team-member-name {
    color: #455A64!important;
}

.new .info-block-text {
    color: #455A64!important;
}

.new .info-block-text-name {
    font-size: 16px!important;
    color: #212121!important;
}

.new .message-block-date span {
    color: #212121!important;
    font-size: 15px!important;
}

.new .message-block-text {
    font-family: 'Slabo 27px', serif;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.new .message-block-message-name-date {
    font-size: 16px!important;
}

.new .message-input-block-fake {
    font-family: 'Slabo 27px', serif;
    letter-spacing: 0.5px;
    color: #212121!important;
    letter-spacing: 0.5px;    
    font-size: 16px!important;
}

.new .message-input-block {
    border:none!important;
    border-radius: 0!important;
}

.new .options-button{
    border: 1px solid #adb9ca!important;
    background: #fafafa!important;
}

.new .message-block-message:hover {
    background: #ECEFF1!important;
}

.new .post-job-inner-page .black-line {
    background-color: #fafafa!important;
    color: #424242!important;
}

.new .post-job-inner-page .black-line a {
    border-bottom: 2px dotted #424242!important;
}

.new .options-table textarea,
.new .options-table input {
    box-shadow: 2px 2px 2px #757575!important;
    border: none!important;
}

.new input.mat-input-element {
    box-shadow: none!important;
    background: transparent!important;
}

.new .post-job-inner-page .mat-button-toggle-group,
.new .post-job-inner-page .mat-button-toggle-standalone,
.new .post-job-inner-page .mat-fab:not([class*=mat-elevation-z]), 
.new .post-job-inner-page .mat-mini-fab:not([class*=mat-elevation-z]), 
.new .post-job-inner-page .mat-raised-button:not([class*=mat-elevation-z]) {
    background: #fafafa!important;
    border-radius: 0!important;
}

.new .post-job-inner-page .first-section .left-section .options-table .switch input:checked + .slider {
    background-color: #00838F!important;
}

.new .post-job-inner-page .top-create-job-btn .create-button {
    background-color: #00838F!important;
    transition: .3 all ease-in-out!important;
    &:hover {
        background: #00ACC1!important;
    }
}

.new #tabs {
    background-color: #FAFAFA !important;
}

.new #tab_one button {
    background-color: #e0e0e0!important;
}

.new .login-page-content {
    .mat-button-toggle-group, .mat-button-toggle-standalone {
        background: #FAFAFA!important;
        color: #424242!important;
    }
    .jobs-inner-page .pagination_block button {
        color: #424242!important;
    }
}

.new .job-details-inner-page .job-dashboards-wrap .job-offer {
    background: #fafafa!important;
}

.new .job-details-inner-page .job-details-tabs .job-details-tab {
    background: #fafafa!important;
    color:#424242;
}

.new .job-details-inner-page .job-details-tabs {
    border-bottom: none!important;
}

.new header .logo {
    cursor: pointer;
    max-height: 100%;
    margin-left: 0!important;
    top: 0;
    outline: none;
    padding: 0px 58px;
}


.new header  {
    height: 60px;
    padding: 0;
}

.new header .buttons-wrap .profile-icons-wrap .shopping-cart-icon {
    font-size: 2.35em!important;
    margin-bottom: -5px;
}

.new .cartamount {
    padding: 2px 8px!important;
    border-radius: 0!important;
    margin-right: 5px!important;
}

.new header .buttons-wrap .profile-icons-wrap .option-span .settings-span, 
.new header .buttons-wrap .profile-icons-wrap .notifications-span {
    padding: 0px 15px 0px 15px!important;
}

.new .settings-icon {
    color: #616161!important;
}

.new .main-nav .sidenav .sidenav-content-inner .team-members .team-member-status.online {
    border: none!important;
}

.new .job-offer {
    background: #fafafa!important;
    color: #424242!important;
    border-radius: 0!important;
    padding: 4px!important;
}

.new .job-offer-header,
.new .job-offer .job-offer-header .job-header-info,
.new .job-offer .job-offer-header .job-header-info .job-title,
.new .job-offer .job-offer-header .job-header-info .job-title .location {
    color: #424242!important;
}

.new .job-offer .job-offer-header .job-offer-buttons .job-header-button.icon-button {
    background: #fafafa!important;
    color: #616161!important;
}

.new .job-offer .job-offer-header .job-offer-buttons .job-header-button {
    color: #ECEFF1 !important;
    background-color: #616161!important;
}

.new .job-offer .job-offer-stages .job-stage .job-stage-inner {
    color: #fafafa!important;
    background-color: #757575!important;
    transition: .3s all ease-in-out;
    &:hover {
        color: #757575!important;
    }
}

.new .settings-wrap {
    background: #37474F!important;
}

.new .jobs-inner-page .buttons-wrap__mat-btn.mat-button-toggle.mat-button-toggle-checked {
    background: #fafafa!important;
    color: #424242!important;
}

.new .jobs-inner-page .buttons-wrap__mat-btn {
    background: #757575 !important;
    color: #fafafa;
    border-right: 1px solid #fafafa; 
    &:last-child {
        border-right: none;
    }
}

.new .mat-button-toggle-group, .mat-button-toggle-standalone {
    border-radius: 0!important;
}

.new .jobs-inner-page .pagination_block button {
    border-radius: 0;
    background: #757575!important;
    color: #fafafa!important;
    &:disabled {
        opacity: .5;
    }
}

.new {
    .job-details-inner-page .job-dashboards-wrap .job-offer {
        background: #fafafa!important;
        color: #424242!important;
    }
    .job-details-inner-page .job-dashboards-wrap .job-offer .job-offer-properties .job-property input.interview-stage + .job-property-inner {
        background: #424242!important;
        color: #fafafa!important; 
        transition: .3s all ease-in-out;
        &:hover {
            background-color: #fafafa!important;
            color: #424242!important;
        }
    }
    .job-details-inner-page .job-dashboards-wrap .job-offer .job-offer-header .job-header-info {
        margin-bottom: 10px;
    }
    .job-details-inner-page .job-dashboards-wrap .job-offer .job-offer-properties .job-property input.interview-stage:checked + .job-property-inner {
        background-color: #fafafa!important;
        color: #424242!important;        
    }
    .job-details-inner-page .job-details-tabs .job-details-tab.active {
        border-bottom: 2px solid #4dadc2 !important;
        background: #fafafa !important;
        color: #424242 !important;
        background: #fafafa!important;
        border-bottom: 2px solid #424242!important;
        &:hover {
            border-bottom: 2px solid #424242!important;            
        }
    }
    .job-details-inner-page .job-details-tabs .job-details-tab {
        transition: .3s all ease-in-out!important;
        flex: 0 0 25%!important;
        background: #424242!important;
        color: #fafafa!important;
    }
    .job-details-inner-page .job-details-tabs .job-details-tab:hover {
        border-bottom: 2px solid #00ACC1!important;
    }
    .mat-expansion-panel {
        background: #fafafa!important;
        color: #424242!important;
    }
    .mat-expansion-panel-body {
        color: #424242!important;        
    }
    .candidates-inner-section .candidates-list-section .candidate-block {
        display: flex;
        flex-direction: column;
        padding: 0 0 10px 10px;
        &:not(:last-child) {
            border: 3px solid transparent!important;
            border-bottom: 3px solid $dark-grey!important;
        }
        &:hover {
            background: transparent!important;
            border: 3px solid #fff!important;                
        }
    }
    .job-details-inner-page .job-details-tabs {
        justify-content: space-between!important;
    }
    .candidate-profile-inner-section .profile-header .header-candidate-general-info {
        background: #E0F7FA!important;
    }
    .rating .star:before {
        color: #424242!important;
    }
    .buttons .mail-button {
        background: #01579B!important;
        border-radius: 0!important;        
    }
    .buttons .move-candidate-button {
        background: #50a047!important;
        border-radius: 0!important;
    }
    .buttons .reject-candidate-button {
        background: #BF360C!important;
        border-radius: 0!important;
        padding: 6.5px 0!important;
    }
    .triangle-wrap {
        border: none!important;
        padding: 0!important;
    }
    .candidate-profile-inner-section .profile-header .header-candidate-general-info .candidate-info-top-block .candidate-name-position .candidate-name {
        color: #424242!important;
        font-size: 2rem!important;
    }
    .candidate-profile-inner-section .profile-header .header-candidate-general-info .candidate-info-top-block .candidate-name-position .candidate-position {
        font-size: 1rem!important;
        color: #424242!important;        
    }
    .candidate-profile-inner-section .profile-header .header-candidate-general-info .candidate-info-top-block .candidate-name-position .company-name {
        font-size: 0.875rem!important;
        color: #424242!important;
        opacity: .8!important;
    }
    .candidate-profile-inner-section .profile-header .header-candidate-general-info .candidate-scoring .candidate-location {
        color: #424242!important;
        font-size: 1.2rem!important;
    }
    .buttons .move-candidate-button .move-candidate-dropdown {
        width: 100%!important;
        left: 0!important;
        background: #fff!important;
        top: 29px!important;
        color: #424242!important;
        text-align: left!important;
        font-size: 0.875rem!important;
        border: 1px solid #424242!important;
    }
    .buttons .move-candidate-button .move-candidate-dropdown .header {
        display: none!important;
    }
    .buttons .move-candidate-button .move-candidate-dropdown .inteview-stage {
        transition: .3s all ease-in-out;
        &:hover {
            background: #424242!important;
        }
    }
    .candidate-profile-inner-section .profile-header .header-candidate-summary {
        background-color: #0097A7!important;
    }
    .candidate-profile-inner-section .profile-header .header-candidate-summary .candidate-roles-wrap {
        font-size: 1.3rem!important;
        margin: 5px auto!important;
    }
    .candidate-profile-inner-section .profile-header .header-candidate-summary .summary-list {
        font-size: 1rem!important;
        overflow: auto!important;
        max-height: 200px!important;
    }
    .candidate-profile-inner-section .profile-header {
        display: initial!important;
        margin-bottom: 5px!important;
    }
    .candidate-tabs .candidate-tab {
        border-top: 1px solid #424242!important;
        border-left: 1px solid #424242!important;
        background-color: transparent!important;
        color: #424242!important;
        &.active {
            background-color: #fafafa!important;
            color: #424242!important;
        }
    }
    .candidates-inner-section .candidates-list-section-wrap {
        padding: 0 10px 0 0!important;
    }
    .notes {
        width: 100%!important;
    }
    .wrap .message {
        color: #424242!important;
        align-items: center!important;
        padding: 5px 0 5px!important;
        margin-bottom: 5px!important;
    }
    .wrap {
        border-bottom: 1px solid #fafafa!important;
        background-color: #cfd8dd!important;
    }
    .wrap.gmail {
        background-color: rgba(0, 0, 0, 0.3)!important;
    }
    .notes .buttons-right-send {
        border-radius: 0!important;
        background-color: #13579a!important;
    }
    .select-scorecard-btn,
    .create-scorecard-btn {
        border-radius: 0!important;
        color: #fafafa!important;
        border: 1px solid transparent!important;
        transition: .3s all ease-in-out!important;
    }
    .select-scorecard-btn {
        background: #13579a!important;
        &:hover {
            background: #fafafa!important;
            color: #13579a!important;
            border: 1px solid #13579a!important;            
        }
    }
    .create-scorecard-btn {
        background: #50a047!important;
        &:hover {
            background: #fafafa!important;
            color: #50a047!important;
            border: 1px solid #50a047!important;
        }
    }
    .scorecards-assessments-inner .scorecards-wrap {
        border: none!important;
        border-radius: 0!important;
        font-size: 16px!important;
    }
    .scorecards-assessments-inner .scorecards-wrap .scorecard-wrap .remove-wrap {
        background: #bf3728!important;
        color: #fafafa!important;
        border: none!important;
        border-radius: 0!important;
    }
    .size-box .flex-container {
        width: initial!important;
        padding: 5px 0!important;
    }
    .size-box .flex-container .description-container .matButtons {
        background: #424242!important;
        color: #fafafa!important;
        border-radius: 0!important;
        margin: 3px 0px!important;
        &:nth-child(2) {
            margin-right: 3px!important;
            margin-left: 3px!important;
        }
    }
    .size-box {
        width: 100%!important;
        background: #fafafa!important;
    }
    .chat .buttons-send {
        background-color: #13579a!important;
        border-radius: 0!important;
    }
    .chat {
        width: 100%!important;
    }
    .chat-container {
        padding: 5px!important;
    }
    .talentbase__filter-icon,
    .talentbase__filter-content {
        background: #fafafa!important;
        color: #424242!important;
    }

    .talentbase__filter-header--filter-input input {
        border: 1px solid #424242!important;
        padding: 8px!important;
    }

    .talentbase__filter-header--action-buttons span:first-child {
        border: 1px solid #000!important;
    }

    .talentbase__filter-header--filter-input .blue-btn {
        background: #13579a!important;
        padding: 8.5px 16px!important;
        &:hover {
            color: #13579a!important;
            background: #fff!important;
            border: 1px solid #13579a!important;
        }
    }

    .talentbase__filter-header--action-buttons span:last-child {
        background: #50a047!important;
        &:hover {
            color: #50a047!important;
            background: #fff!important;
            border: 1px solid #50a047!important;
        }
    }
    .talentbase__filter-header--filter-input .blue-btn .icon-arrow {
        height: 16px!important;
        width: 20px!important;
    }

    header .buttons-wrap .sign-out-btn {
        border-radius: 0!important;
        transition: .3s all ease-in-out;
    }

    .candidate-fit.potential span {
        top: 19px!important;
        right: 6px!important;
    }

}

.highlighted {
    background: yellow!important;
}


// NEW THEME STYLES END



/**
 * @swimlane/ngx-dnd v"3.1.0" (https://github.com/swimlane/ngx-dnd)
 * Copyright 2017
 * Licensed under MIT
 */
 .ngx-dnd-item {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
    border: 1px solid lightblue;
    display: block; }
    .ngx-dnd-item:not(.has-handle):not(.move-disabled),
    .ngx-dnd-item.has-handle [ngxdraghandle],
    .ngx-dnd-item.has-handle [ngxDragHandle] {
      cursor: move;
      cursor: grab;
      cursor: -webkit-grab; }
    .ngx-dnd-item .ngx-dnd-content {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
    .ngx-dnd-item:hover {
      border: 1px solid blue; }
  
  .gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80); 
}

  .gu-hide {
    display: none !important; }
  
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important; }
  
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20); 
}

.job-stage.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    @include flex(1, 1, 120px);
    height: 102px!important;
    width: 120px!important;
    .job-stage-inner {
      height: 100%;
      height: 102px!important;
      width: 92px!important; 
      width: 120px!important;
      border: 1px solid rgb(201, 201, 201);
      padding: 15px 0;
      font-size: 15px;
      background-color: #F2F2F2;
      position: absolute!important;
      text-align: center;
      .property-title {
        // margin-top: -24px;
      }
      .property-value {
          display: none;
      }
      .delete-stage {
        z-index: 99;
        font-size: 19px;
        height: 20px;
        width: 12px;
        margin-left: 25px;
        margin-top: -10px;
        display: none;
      }
    }
}
    
  
  /*# sourceMappingURL=index.map*/

