<app-header></app-header>
<mat-sidenav-container class="main-nav">
  <mat-sidenav mode="side" #sidenav class="sidenav" [opened]="true" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseEnter($event)">

    <div class="sidenav-toggle open" #sidenavToggle (click)="toggle()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>

    <div class="sidenav-content-inner">
      <div class="toggle">
        <label class="checkbox__label">
          <input class="checkbox" type="checkbox" (click)="pinSideNav()" checked>
          <!-- [checked]="sideNavPinned" -->
          <span class="pin__track">
					<span class="pin">
						<span class="pin__component__wrapper">
						<span class="pin__component pin__component--top"></span>
						<span class="pin__component pin__component--bottom"></span>
						</span>
					</span>
					</span>
        </label>
      </div>
      <nav class="side-nav">
        <ul>
          <span [routerLink]="['/timeline']">
              <li class=" func-buttons" >
                <p>{{currentUser.get('firstName')}}'s Timeline</p>
              </li>
          </span>
          <span (click)="postJob()">
            <li class="func-buttons" style="margin-bottom: 50px;">
              <p>Post Job</p>
            </li>
          </span>
          <span [routerLink]="['/jobs']">
              <li class="func-buttons">
                <p>Jobs</p>
              </li>
            </span>
          <span [routerLink]="['/', 'scorecards']">
            <li class="func-buttons ">
              <p>Scorecards</p>
            </li>
          </span>
          <span [routerLink]="['/', 'empref']">
            <li class="func-buttons ">
              <p>Employee Referral Programs</p>
            </li>
          </span>
          <span [routerLink]="['/', 'templates']">
            <li class="func-buttons ">
              <p>Templates</p>
            </li>
          </span>
          <span [routerLink]="['/', 'talentbase']">
            <li class="func-buttons ">
              <p>Talent Base</p>
            </li>
          </span>
        </ul>
        <span class="invite-button " (click)="changeLocationToInviteuser() ">
          <p>+Invite People</p>
        </span>
      </nav>
      <div class="team-section ">
        <div class="team-section-header ">
          Your Team
        </div>
      </div>
      <div class="team-members " *ngIf="teamMembers">
        <div *ngFor="let teamMember of teamMembers">
          <p class="team-member" 
            [ngClass]="{'active-dialog': teamMember.dialogActive === true}"
            (click)="highlightDialog(teamMember.id)" 
            [routerLink]="['/chat', teamMember.dialogId]" 
            [queryParams]="[teamMember.firstName, teamMember.lastName, teamMember.avatarURL, teamMember.sessionStatus, teamMember.id, teamMember.dialogId ]"> 
              <span *ngIf="teamMember.sessionStatus === false" class="team-member-status offline"></span>
              <span *ngIf="teamMember.sessionStatus === true" class="team-member-status online"></span>
              <span>{{ teamMember.firstName }}</span>  
              <span class="team-member-unread-messages" *ngIf="teamMember.unreadMessages > 0 && teamMember.typing === false">{{teamMember.unreadMessages}}</span>
              <span *ngIf="teamMember.typing === true" class="team-member-typing"><img src="../../assets/icons/typing.svg" alt=""></span>
          </p>
        </div>
      </div>
      <div *ngIf="inactiveTeamMembers.length > 0" class="team-members">
        <hr color="#94a3b5" style="margin: 5px 0;">
        <p (click)="showInactiveMembers = false" class="show-inactivemembers-btn" [hidden]="!showInactiveMembers">Show deactivated members </p>
        <p (click)="showInactiveMembers = true" class="show-inactivemembers-btn" [hidden]="showInactiveMembers">Hide deactivated members</p>
        <div [hidden]="showInactiveMembers" *ngIf="inactiveTeamMembers">
          <div *ngFor="let teamMember of inactiveTeamMembers">
            <p class="team-member" [routerLink]="['/chat', teamMember.dialogId]"> 
              {{ teamMember.get('firstName') }} 
              <span class="team-member-unread-messages" *ngIf="teamMember.unreadMessages > 0">{{teamMember.unreadMessages}}</span>
            </p>
          </div>
        </div>
      </div>

    </div>

  </mat-sidenav>
  <div class="main-content ">
	<router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
